---
layout: page
title: Light Sleeper
teaser: soft/preview.png
description:  When looking at the typical days of the target market interviewed, it was evident that they all shared a commonality of having problems sleeping, which included generally restless or late nights. The product being ideated on would be a sleep aid that both worked in the night to allow the user to fall asleep, as well as gently waking the user in the morning. A soft and organic form was focused on, not only to remove uncomfortable hard edges, but also to give a more soothing form. A pebble shape was chosen and a series of tufted stitched semicircles were added to the top of this shape to emulate the ripples of a stone tossed into a pond.
year: 2017
type: Home Goods Design
---

{% include gallery.html width='col-md-12' img='/assets/img/soft/colors.png' alt = 'Hydrothermal Vent Example 1' %}
{% include gallery.html width='col-md-6' img='/assets/img/soft/moodboard.png' alt = 'Hydrothermal Vent Example 2' %}
{% include gallery.html width='col-md-6' img='/assets/img/soft/ideation.png' alt = 'Hydrothermal Vent Example 2' %}
{% include gallery.html width='col-md-12' img='/assets/img/soft/stone.jpg' alt = 'Hydrotherm Iso View' %}
{% include gallery.html width='col-md-6' img='/assets/img/soft/night.jpg' alt = 'Hydrotherm Example 1' %}
{% include gallery.html width='col-md-6' img='/assets/img/soft/day.jpg' alt = 'Hydrotherm Example 2' %}
