[role="button"] {
  cursor: pointer;
}
button {
    background: none;
    border:none;
    outline: inherit;
}
a.btn {

	display: inline-block;
    overflow: hidden;
	margin: 0;
	padding:0 1.75rem;
    line-height: 2rem;
	border-radius: 2px;
	position: relative;

    letter-spacing: 1px;
    font-family: $secondary-font;
    text-transform: uppercase;
	font-weight: 400;
	text-align: center;
    font-size: 0.75rem;

    outline: none;
    border:1px solid $primary-color;
    background-color: #fff;
    color: $primary-color;

    &:hover{
        background-color: $secondary-color;
        color: #fff;
        border-color: $secondary-color;
        transition: all .4s ease;
		outline: none;
    }
    i {
        margin-right: 8px;
    }
}
.btn-alt {

	display: inline-block;
    overflow: hidden;
	margin: 0;
	padding:0 1.75rem;
    line-height: 2rem;
	border-radius: 2px;
	position: relative;

    letter-spacing: 1px;
    font-family: $secondary-font;
    text-transform: uppercase;
	font-weight: 400;
	text-align: center;
    font-size: 0.75rem;

	background-color: $secondary-color;
	border: 1px solid $secondary-color;
	color: #fff;
	outline: none;
	transition: all .4s ease;

	&:hover {
		background-color: #fff;
		color: $secondary-color;
		transition: all .4s ease;
		border: 1px solid $secondary-color;
	}
}

.disabled {
        text-shadow: none;
        pointer-events: none;
        cursor: not-allowed;
        &:hover,
        &:focus {
            color: $light-background;
            text-decoration: none;
        }
    }
