[role="button"] {
  cursor: pointer;
}
button {
    background: none;
    border:none;
    outline: inherit;
}
a.btn {
    padding:0;
    padding-right: 1.75rem;
    padding-left: 1.75rem;
    height: 2.5rem;
    line-height: 2rem;
    text-align: center;
    font-size: 0.75rem;
    letter-spacing: 1px;
    font-family: $secondary-font;
    text-transform: uppercase;
    display: inline-block;
    overflow: hidden;
    outline: none;
    border-radius: 2px;
    font-weight: bold;
    position: relative;
    margin:0.75rem;
    text-decoration: none !important;
    transition: all .4s ease;
    font-weight: 400;
    border:1px solid $dark-background;
    background-color: #fff;
    color: $dark-background;
	text-align: center;
    &:hover{
        background-color: $secondary-color;
        color: #fff;
        border-color:none;
        transition: all .4s ease;
    }

    &.no-margin-bottom {
        margin-bottom: 0;
    }
    i {
        margin-right: 8px;
    }
}
.btn-alt {
	background-color: $secondary-color;
	border: 1px solid $secondary-color;
	border-radius: 2px;
	color: white;
	display: inline-block;
	font-size: 0.75rem;
	font-family: $secondary-font;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 1.375rem;
	margin: 0;
	overflow: hidden;
	outline: none;
	position: relative;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 6px;
	padding-bottom: 6px;
	text-align: center;
	text-transform: uppercase;
	transition: all .4s ease;
	@extend %shadow;
	text-align: center;


	&:hover {
		background-color: transparent;
		color: $secondary-color !important;
		transition: all .4s ease;
		border: 1px solid $secondary-color;
	}
}

.disabled {
        text-shadow: none;
        pointer-events: none;
        cursor: not-allowed;
        &:hover,
        &:focus {
            color: $light-background;
            text-decoration: none;
        }
    }
