figure {
  margin: 0;
}
picture {
    &.section {
        &.right {
            img {

				position: relative;
                right: inherit;
                left: 0px;
                max-width: 100%;
                @media screen and (min-width:$large) {
					position: absolute;
					right: 50px;
					bottom: 0;
					max-width: calc(100% - 100px);
                }
            }
            &.bottom {
                img {
                    bottom: 0px;

                    @media screen and (min-width:$large) {
                        bottom: 50;
                    }
                }
            }
        }
        img {
            max-width: 500px;
        }
    }
}
img {
	vertical-align: middle;
    &.shadow {
        @extend %shadow-small;
    }
}
table {
    width: 100%;
    margin: 0 0 25px 0;
    border-collapse: collapse;
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: 1px;
    border: 1px solid $darkgrey-background;
    font-family: $paragraph-font;
    font-weight: 300;

    th {
        background: $secondary-background;
        color: #fff;
        text-align: left;
        padding: 15px;
        border: 1px solid $darkgrey-background;
        font-family: $primary-font;
    }
    td {
        padding: 15px;
        border: 1px solid $darkgrey-background;
    }
}
