figure {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 2em 0;

  img,
  iframe,
  .fluid-width-video-wrapper {
  //  margin-bottom: 1em;
  }

  img {
    width: 100%;
  }

  > a {
    display: block;
  }

  &.half {
	  width: calc(50% - 0.5em);
    > a,
    > img {
      @media screen and (min-width: $small) {
        width: 100%;
      }
    }

    figcaption {
      width: 100%;
    }
  }

  &.third {
	  @media screen and (min-width: $small) {
        grid-column: span 4;
      }
	  grid-column: span 12;
    > a,
    > img {

    }


    figcaption {
      width: 100%;
    }
  }
}

figcaption {
  margin-bottom: 0.5em;

  a {

    &:hover {
      color: $secondary-color;
    }
  }
}


picture {
    &.section {
        &.right {
            img {

				position: relative;
                right: inherit;
                left: 0;
                max-width: 100%;
                @media screen and (min-width:$large) {
					position: absolute;
					right: 50px;
					bottom: 0;
					max-width: calc(100% - 100px);
                }
            }
            &.bottom {
                img {
                    bottom: 0px;

                    @media screen and (min-width:$large) {
                        bottom: 50;
                    }
                }
            }
        }
        img {
            max-width: 500px;
        }
    }
}
img {
	vertical-align: middle;
    &.shadow {
        @extend %shadow-small;
    }
}
table {
    width: 100%;
    margin: 0 0 25px 0;
    border-collapse: collapse;
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: 1px;
    border: 1px solid $darkgrey-background;
    font-family: $paragraph-font;
    font-weight: 300;

    th {
        background: $secondary-color;
        color: #fff;
        text-align: left;
        padding: 15px;
        border: 1px solid $darkgrey-background;
        font-family: $primary-font;
    }
    td {
        padding: 15px;
        border: 1px solid $darkgrey-background;
    }
}


img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%; /* part 1: Set a maximum relative to the parent*/
  width: auto\9; /* IE7-8 need help adjusting responsive images*/
  height: auto; /* part 2: Scale the height according to the width, otherwise you get stretching*/

  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

.align-left {
	display: block;
	margin-left: auto;
	margin-right: auto;
	@media screen and (min-width:$xsmall) {
		float: left;
		margin-right: 1em;
	}
}
.full-bleed{
	overflow: hidden;
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	img{
		background-size: cover;
	}
}

/* image align right */

.align-right {
	display: block;
	margin-left: auto;
	margin-right: auto;
	@media screen and (min-width:$xsmall) {
		float: right;
		margin-left: 1em;
  }
}

/* image align center */

.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
