html {
  @include fluid-type($xsmall, $full, $min_font, $max_font);
}
body {
    font-family: $secondary-font;
    color: $primary-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}
*:before,
*:after {
	box-sizing: border-box;
}
::selection {
    background: $secondary-color;
    color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $secondary-font;
    color: $primary-color;
    font-weight: 300;
	line-height: 1.5;
}
h1, h1 span, .h1 {

    font-size: 2.75rem;
    font-weight: 700;
    font-family: $primary-font;

}
h2, h2 span, .h2 {

	font-size: 2.25rem;
   // font-weight: 500;
    font-family: $primary-font;

}
h3, h3 span, .h3 {
    font-size: 2rem;
}
h4, h4 span, .h4 {
    font-size: 1.75rem;
}
h5, h5 span, .h5 {
    font-size: 1.5rem;
}
h6, h6 span, .h6 {
    font-size: 1.25rem;
}

a {
    color: $primary-color;
    text-decoration: none;
    transition: color .4s ease;

    &:focus, &:active, &:visited {
        outline: none;
    }
}
p {
	line-height: 1.5;
    font-family: $paragraph-font;
    color: $primary-color;
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 300;

    b, strong {
        font-weight: 400;
        color: $primary-color;
    }

    a {
        text-decoration: none;
		color: $secondary-color;
    }
}
u, ins {
  text-decoration: none;
  border-bottom: 1px solid $primary-color;
  a {
    color: $secondary-color;
  }
}

del a {
  color: $secondary-color;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: none;
  cursor: help;
  border-bottom: 1px dotted $primary-color;
}

tt, code, kbd, samp, pre {
  font-family: monospace;
}

pre {
  overflow-x: auto; /* add scrollbars to wide code blocks*/
}

code {
	color: $secondary-color;
	background-color: $light-background;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  &:before, &:after {
    letter-spacing: -0.2em;
    content: "\00a0"; /* non-breaking space*/
  }
}
hr {
  display: block;
  margin: 1em 0;
  border: 0;
  border-top: 1px solid $primary-color;
}

i {
    font-style: italic;
    font-family: $paragraph-font;

    &.separator {
        display: block;
        font-size: 2rem;
        transition: color .4s ease;
    }
}
b, strong {
    font-weight: bold;
}
dl {
    margin:25px 0;
    font-family: $secondary-font;
    font-size: 0.875rem;
    line-height: 1.5rem;

    dt {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: $primary-font;
        font-size: 0.75rem;
        line-height: 22px;
    }
    dd {
        border-left: 2px solid $secondary-color;
        font-family: $alt-font;
        padding-left: 1.25rem;
        margin-bottom:10px;
        font-style: italic;
        letter-spacing: 1px;
    }
}
ol {
    list-style: decimal;
    display:table-row;
    padding-left: 28px;
    font-family: $paragraph-font;
    color: $primary-color;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 1px;
    font-weight: 300;
    margin: 25px 0 25px 15px;
}

ul {
    display:table-row;
    li {
        &.border {
            border-bottom: 1px solid #c2c3c4;
        }
    }
    &.styled, &.post {
        list-style: none;

        li {
            position: relative;
            padding-left: 26px;
            margin: 9px 0;
            color: $primary-color;
            font-size: 1rem;
            line-height: 1.5rem;
            font-weight: 300;
            color: $primary-color;
        }
    }
    &.post {
        padding: 25px 0 25px 18px;
        li {
            font-weight: 300;
        }
    }
}
mark {
    background: $light-background;
    padding: 0 4px;
    color: $primary-color;
}
pre {
    padding:25px;
    background: $light-background;
    overflow: hidden;
    border-radius: 0;
    font-family: $paragraph-font;
    font-size: 1rem;
    line-height: 1.5em;
    letter-spacing: 1px;
    color: $primary-color;
    margin:1.5em 0;

}

blockquote, q {
	p{
		font-size: 1.5rem;
	}
    display: block;
    quotes: none;
    position: relative;
    font-size: 2.25rem;
    line-height: 1.5;
    padding-left: 18px;
    font-family: $paragraph-font;
    color: $primary-color;
    font-weight: 400;
    font-style: italic;
    margin: 50px 0;
    &::before{
        content: "\201C";
        font-size: 3rem;
        position: absolute;
        left: 10px;
        top:-2rem;
        color: $secondary-color;
    }

    @media screen and (min-width:$xsmall) {
        padding-left: 36px;
    }

    cite {
        margin-top: 1em;
        font-style: normal;
        display: block;
       // font-size: 1.5rem;
        font-weight: 300;
        color: $primary-color;
        &:before {
            content: "\2014";
            padding-right: 10px;
        }

        a {
            color: $primary-color;

            &:hover {
                color: $secondary-color;
            }
        }
    }
}

textarea {
    resize: none;
}

em {
	font-style: italic;
}
