---
layout: default
---

{% for post in site.portfolio %} {% for tag in post.tags %} {% capture
categories %}{{categories}},{{tag}}{% endcapture %} {% endfor %} {% endfor %}
<!--  Page Content  -->
<div id="page-content">
  <!--  HomePage header  -->
  <div class="container">
    <div class="row no-margin">
      <div class="col-xs-12 padding-leftright-null">
        <div id="home-header">
          <div class="text">
            <h1 class="margin-bottom-small websiteheading">
              Mickel Edwards<span class="color">.</span>
            </h1>
            <br />
            <h2 class="websiteheading">Industrial Designer</h2>
            <h3 class="websiteheading">My pursuit is to know everything about a product, and improve the design by focusing on user-friendliness and sustainability.</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  END HomePage header  -->
  <div id="home-wrap" class="content-section">
    <div class="container">
      <!--  Portfolio  -->
      <h2 class="text">Portfolio</h2>
      <section
        id="projects"
        data-isotope="load-simple"
        class="page padding-top-null padding-onlybottom-lg"
      >
        <div class="projects-items">
          {% assign sorted = site.portfolio | sort: 'order'%} {% for project in
          sorted %}
          <div
            class="one-item  {% for tag in project.tags %} {{tag}} {%endfor%}"
          >
            <div class="item">
              <img src="assets/img/{{project.teaser}}" alt="" />
              <div class="content">
                <h3>{{project.title}}</h3>
                <h5>{{project.type}}</h5>
              </div>
              <a href="{{project.url}}" class="link"></a>
            </div>
          </div>
          {%endfor%}
        </div>
      </section>
    </div>


    <div class="container">
      <!--  Downloads  -->
      <h2 class="text">Downloads</h2>
      <section
        class="projects page"
        data-isotope="load-simple"
        class="page padding-top-null padding-onlybottom-lg"
      >
        <div class="projects-items">
        


          <div class="one-item">
            <div class="item">
              <img src="assets/img/indexicons/hands.jpg" alt="" />
              <div class="content">
                <h3>Hand Templates for Sketching</h3>
                <h5>Illustrator File</h5>
              </div>
              <a href="https://mickeledwards.gumroad.com/l/inddhands" class="link"></a>
            </div>
          </div>


          <div class="one-item">
            <div class="item">
              <img src="assets/img/indexicons/e61.jpg" alt="" />
              <div class="content">
                <h3>E61 Espresso Machine Grouphead</h3>
                <h5>SolidWorks File</h5>
              </div>
              <a href="https://grabcad.com/library/e61-espresso-machine-group-head-1" class="link"></a>
            </div>
          </div>

          <div class="one-item">
            <div class="item">
              <img src="assets/img/indexicons/expobar.jpg" alt="" />
              <div class="content">
                <h3>Expobar Office Espresso Machine</h3>
                <h5>SolidWorks File</h5>
              </div>
              <a href="https://grabcad.com/library/expobar-office-lever-espresso-machine-1" class="link"></a>
            </div>
          </div>

       
       
        </div>
      </section>
    </div>


</div>


  </div>
  

  
</div>
