---
layout: default
---
{% for post in site.portfolio %}
    {% for tag in post.tags %}
        {% capture categories %}{{categories}},{{tag}}{% endcapture %}
    {% endfor %}
{% endfor %}
<!--  Page Content  -->
<div id="page-content">
    <!--  HomePage header  -->
    <div class="container">
       <div class="row no-margin">
           <div class="col-xs-12 padding-leftright-null">
               <div id="home-header">
                   <div class="text">
                       <h1 class="margin-bottom-small"><span class="grey-dark">Mickel Edwards.</span><br>Industrial Designer<span class="color">.</span></h1>
                   </div>
               </div>
           </div>
       </div>
    </div>
    <!--  END HomePage header  -->
    <div id="home-wrap" class="content-section">
        <div class="container">
            <!--  Portfolio  -->
            <section id="projects" data-isotope="load-simple" class="page padding-top-null padding-onlybottom-lg">
                <section id="projects" data-isotope="load-simple" class="page padding-top-null padding-onlybottom-lg">
                            <div class="row no-margin text-left">
                                <div class="col-sm-12 padding-leftright-null">
                                    <div class="filter-wrap left">
                                        <ul class="col-md-12 filters uppercase padding-leftright-null">
                                            <li data-filter="*" class="is-checked">All</li>
                                            <li data-filter=".design">Design</li>
                                            <li data-filter=".branding">Branding</li>
                                            <li data-filter=".photography">Photography</li>
                                            <li data-filter=".web">Web</li>
                                            <li data-filter=".app">Apps</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </section>
                <div class="projects-items">
                    {% assign sorted = site.portfolio | sort: 'order'%}
                    {% for project in sorted %}
                    <div class="one-item  {% for tag in project.tags %} {{tag}} {%endfor%}">
                        <div class="item">
                            <img src="assets/img/{{project.teaser}}" alt="">
                            <div class="content">
                                <h3>{{project.title}}</h3>
                                <h5>{{project.type}} </h5>
                            </div>
                            <a href="{{project.url}}" class="link"></a>
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </section>
        </div>
    </div>
</div>
