<footer>
    <div class="container">
        <div class=" text">
            <ul class="social">
                <li><a href="https://www.facebook.com/mickel.edwards"><i class="icon-facebook" aria-hidden="true"></i></a></li>
                <li><a href="https://www.behance.net/mickeledwards"><i class="icon-behance" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</footer>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

<script src="/assets/js/jquery.min.js"></script>
<!-- All js library -->
<script src="/assets/js/bootstrap/bootstrap.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/isotope.min.js"></script>
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/imagesloaded.min.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/css-polyfills.min.js"></script>
