
<div class="col-xs-12 col-md-3" data-src="{{include.img1}}">
        <img src="{{include.img1}}" alt="{{include.alt1}}" class="nobottompadding">
        <p class="caption">{{include.alt1}}</p>
</div>
<div class="col-xs-12 col-md-3" data-src="{{include.img1}}">
    <img src="{{include.img2}}" alt="{{include.alt2}}" class="nobottompadding">
    <p class="caption">{{include.alt2}}</p>
</div>
<div class="col-xs-12 col-md-3" data-src="{{include.img1}}">
    <img src="{{include.img3}}" alt="{{include.alt3}}" class="nobottompadding">
    <p class="caption">{{include.alt3}}</p>
</div>
<div class="col-xs-12 col-md-3" data-src="{{include.img1}}">
    <img src="{{include.img4}}" alt="{{include.alt4}}" class="nobottompadding">
    <p class="caption">{{include.alt4}}</p>
</div>