<div class = "overlapping3 row">
    <div class="col-xs-12 col-sm-6" data-src="{{include.alt1}}">
            <img src="{{include.img1}}" alt="{{include.alt1}}" class="">
    </div>
    <div class="col-xs-12 col-sm-6" data-src="{{include.alt2}}">
            <img src="{{include.img2}}" alt="{{include.alt2}}" class="">
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3" data-src="{{include.alt3}}">
            <img src="{{include.img3}}" alt="{{include.alt3}}" class="">
    </div>
</div>
