<div class="container">
   <div class="row no-margin">
	   <div class="col-md-12 padding-leftright-null">
		   <div id="home-header">
				  	<div class="deco-container">
					<div class="deco-letter">M</div>
					<div class="deco-letter">I</div>
					<div class="deco-letter">C</div>
					<div class="deco-letter">K</div>
					<div class="deco-letter">E</div>
					<div class="deco-letter">L</div>
				  	</div>
				<div class="deco-container2">
					<div class="deco-letter">E</div>
					<div class="deco-letter">D</div>
					<div class="deco-letter">W</div>
					<div class="deco-letter">A</div>
					<div class="deco-letter">R</div>
					<div class="deco-letter">D</div>
					<div class="deco-letter">S</div>
				</div>
			</div>
	   </div>
   </div>
</div>
<div id="home-wrap" class="content-section">
		<section id="projects" class="page padding-top-null padding-onlybottom-lg">
			<div class="projects-items row">
				{% for page in site.pages %}
					{% if page.categories contains 'project' %}
						<div class="single-item col-md-4 col-sm-6 col-xs-12">
							<a href="{{ page.url | prepend: site.baseurl }}">
							  <div class="item">
								  <img src="{{ page.preview }}">
								  <div class="content">
									  <h3>{{ page.title }}</h3>
									  <p>{{ page.excerpt | remove: '<p>' | remove: '</p>' }}</p>
									</div>
								</div>
							</a>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</section>				  
</div>
</div>