<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="{{ "assets/js/grid-layout-polyfill.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "assets/js/owl.carousel.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "assets/js/jquery.magnific-popup.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "assets/js/rellax.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "assets/js/turntable.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "assets/js/hotspot-map.js" | prepend: site.baseurl }}"></script>
<script src="{{ "assets/js/main.js" | prepend: site.baseurl }}"></script>
<script>
  (function($, undefined) {
        $(document).ready(function() {
            $('#hotspot-2014').hotspot({
                'show_on' : "mouseover",
                'responsive' : "on",
            });
            $('#hotspot-8231').hotspot({
                'show_on' : "mouseover",
                'responsive' : "on",
            });
            $('#hotspot-7334').hotspot({
                'show_on' : "mouseover",
                'responsive' : "on",
            });
        });
    })(jQuery);



;(function (jQuery) {
"use strict";
    jQuery(document).ready(function () {

        //hotspot map - fix tooltip partially hidden because of overflow:hidden
        jQuery('.hsmap_center').parents('.be-section').css('overflow', 'visible').parents('#hotspsotwrap').css('overflow', 'hidden');

        //hotspot map - fix tooltip z-index
        jQuery('.hsmap_center').parents('.be-row').addClass('be-row-hsmap');

        jQuery('.hs-spot-object').click(function() {
            if (jQuery(window).width() < 768) {
                var $fixed_tooltip;
                $fixed_tooltip = jQuery(this).parents('.hsmap_center').find('.hsmap_fixed_tooltip');
                $fixed_tooltip.html('<div class="fixed_tooltip_content">' + jQuery(this).find('.hs-tooltip').html() + '</div>');

                var scrollOffset = $fixed_tooltip.offset().top - (jQuery(window).height()-$fixed_tooltip.outerHeight() +10);
                if (scrollOffset > jQuery(window).scrollTop())
                    jQuery("html, body").animate({ scrollTop: scrollOffset}, 250);
            }
        });
    });
    })(jQuery);

</script>

<script>

    (function() {
  'use strict';

  var section = document.querySelectorAll("div.contentwrap > section");
  var sections = {};
  var i = 0;

  Array.prototype.forEach.call(section, function(e) {
    sections[e.id] = e.offsetTop;
  });

  window.onscroll = function() {
    var scrollPosition = document.documentElement.scrollTop || document.body.scrollTop;

    for (i in sections) {
      if (sections[i] <= scrollPosition +20) {
        document.querySelector('.active').setAttribute('class', ' ');
        document.querySelector('a[href*=' + i + ']').setAttribute('class', 'active');
      }
    }
  };
})();


</script>
