<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="{{ "assets/js/grid-layout-polyfill.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "assets/js/owl.carousel.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "assets/js/lightgallery.js" | prepend: site.baseurl }}"></script>
<script src="{{ "assets/js/rellax.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "assets/js/turntable.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "assets/js/hotspot-map.js" | prepend: site.baseurl }}"></script>
<script src="{{ "assets/js/main.js" | prepend: site.baseurl }}"></script>
<script src="{{ "assets/js/diagram.js" | prepend: site.baseurl }}"></script>
