    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ page.description | default: page.excerpt | default: site.description  | markdownify | strip_html | strip_newlines | escape_once }}">
    <meta name="author" content="{{ site.author.name }}">
    <meta property="og:locale" content="{{ site.locale | replace: "-", "_" | default: "en_US" }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:title" content="{{ page.title | default: site.title | markdownify | strip_html | strip_newlines | escape_once }}">
    {% if seo_url %}<link rel="canonical" href="{{ page.url | prepend: seo_url | replace: "/index.html", "/" }}">
      <meta property="og:url" content="{{ page.url | prepend: seo_url | replace: "/index.html", "/" }}">{% endif %}
    {% if site.google_site_verification %}<meta name="google-site-verification" content="{{ site.google_site_verification }}" />{% endif %}
