{% if include.id %}
  {% assign sliderfull = page[include.id] %}
{% else %}
  {% assign sliderfull = page.sliderfull %}
{% endif %}


<div class="padding-topbottom-null" >
    <div class="fullbleed-slider dots-inside" >
        {% for img in include.sliderfull %}
            <div class="item sliderfull">
                <figure style= "background-image:url({% if img.image_path contains "://" %} {{ img.image_path }} {% else %} {{ img.image_path | absolute_url }} {% endif %});"> </figure>
            </div>
        {% endfor %}
   </div>
</div>
