#news {

    &.page {
        padding: 50px 0px;

        &.minimal {
            padding: 50px 0px 25px 0px;
        }

        .single-news {
            padding:0 25px;

            @media screen and (max-width: $large) {
                margin-bottom: 50px;
            }

            article{
                background-color: $body-background;
                border-radius: 4px;
                transition: all .4s ease;

                img {
                    max-width: 100%;
                    display: block;
                    border-radius: 4px 4px 0 0;
                }
                .content {
                    padding: 25px;
                    position: relative;
                }
                span {
                    transition: opacity .4s ease;

                    &.meta {
                        color: $secondary-color;
                       // font-family: $paragraph-font;
                        font-size: 14px;
                        line-height: 26px;
                        display: inline-block;
                        font-weight: 300;
                        transition: color .4s ease;
                    }
                }
                h3 {
                    font-size: 20px;
                    line-height: 30px;
                    //font-family: $paragraph-font;
                    margin: 8px 0 8px 0;
                    color: $black-94-percent;
                    font-weight: 300;
                    transition: color .4s ease;
                }
                p {
                    margin-bottom: 0;
                    font-size: 14px;
                    line-height: 26px;
                    color: $black-75-percent;
                    margin-bottom: 15px;
                }
                a {
                    &.link {
                        position: absolute;
                        top:0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                    }
                }
            }

            &:hover {
                article {
                    box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.2);
                    transition: all .4s ease;

                    h3 {
                        color: $secondary-color;
                        transition: color .4s ease;
                    }
                    span {
                        &.meta {
                            color: $black-75-percent;
                            transition: color .4s ease;
                        }
                    }
                }
            }

            &.styled {
                .content {
                    padding: 0;
                }

                &:hover {
                    article {
                        box-shadow: none;
                        transition: all .4s ease;

                        h3 {
                            color: $secondary-color;
                            transition: color .4s ease;
                        }
                        span {
                            &.meta {
                                color: $black-75-percent;
                                transition: color .4s ease;
                            }
                        }
                    }
                }
            }
        }
    }
    .news-items {
        .one-item {
            width:50%;
            overflow: hidden;
            z-index: 1;
            padding: 0 !important;

            @media screen and (max-width: $large) {
                margin-bottom: 0 !important;
            }

            article {
                margin: 25px;

                @media screen and (max-width: $small) {
                    margin: 25px 5px;
                }
            }

            @media screen and (max-width:$medium) {
                width:100%;
            }
        }
        &.one-columns {
            .one-item{
                width: 100%;
            }
        }
        &.three-columns {
            .one-item{
                width: 33.33333333%;
                width: calc(33.33333333%);

                @media screen and (max-width:$large) {
                    width: 50%;
                    width: calc(50%);
                }

                @media screen and (max-width:$medium) {
                    width:100%;
                }
            }
        }
    }
}
aside {
    &.sidebar {
        .widget-wrapper {
            margin: 50px 0;
            display: block;
            position: relative;
            float: left;
            width: 100%;

            &:first-of-type {
                margin-top: 25px;
            }

            h5 {
                font-size: 22px;
                line-height: 32px;
                margin-bottom: 25px;
            }
        }
        ul {
            &.recent-posts {
                li {
                    margin-bottom: 36px;
                    overflow: hidden;
                    border-bottom: 1px solid #F7F7F7;

                    &:last-child {
                        margin-bottom: 0;
                        border: none;

                        p {
                            margin-bottom: 0;
                        }
                    }

                    img {
                        width: 65px;
                        height: 65px;
                        border-radius: 50%;
                        float: left;
                    }

                    .header {
                        overflow: hidden;
                        margin-bottom: 18px;
                    }
                    .content {
                        padding-left: 85px;
                        padding-top: 9px;
                    }

                    a {

                        h4 {
                            font-size: 14px;
                            line-height: 26px;
                            color: $black-75-percent;
                        }

                        .meta {
                            color: $black-94-percent;
                            font-size: 14px;
                            line-height: 26px;
                            font-weight: 300;
                            margin-right: 9px;
                        }
                    }
                    p {
                        font-size: 14px;
                    }
                }
            }
            &.widget-categories {
                li {
                    a {
                        color: $black-94-percent;

                        &:hover {
                            color: $secondary-color;
                        }
                    }
                }
            }
        }
    }
    &.left {
        text-align: right;
        padding: 0;
        @media screen and (max-width:$large) {
            text-align: left;
        }
        .widget-wrapper {
            margin-bottom: 50px;
        }
        form {
            width:100%;

            .form-input {
                width:100%;
                position: relative;

                input {
                    width: 80%;

                    @media screen and (max-width:$large) {
                        width: 100%;
                    }
                }
                span.form-button {
                    width: auto;
                }
            }
        }
    }
}
