#main-wrap {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background: $darkgrey-background;

    &.full-width {
        max-width: 1920px;
    }
}

main {
    position: relative;
    z-index: 2;
    margin-bottom: 0px !important;
    background-color: #fff;
    &.footer-fixed {
        margin-bottom: 390px;

        @media screen and (max-width:$large) {
            margin-bottom: 0;
        }
    }

    .sliderfull{
        width:100%;
        height:30em;
        background-size:cover;
        background-position:center center;
        background-repeat:no-repeat;
    }
    .wrap-slider {
        padding: 0 50px;

        @media screen and (max-width: 1093px) {
            padding: 0;
        }

        .bg-img {
                height: calc(100vh - 183px);
                padding-left: 20px;

                @media screen and (max-width: $medium) {
                    height: calc(50vh - 92px) !important;
            }
        }

        .popup-youtube, .popup-vimeo {

            .bg-img {
                border-radius: 0;
            }
            &:hover {
                &:before {
                    background-color: transparent;
                    color: $secondary-color;
                    opacity: .5;
                    transition: all .4s ease;
                }
            }
            &:before {
                font-size: 60px;
            }
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background-color: rgba(255,255,255,0.68);
            }
        }
    }

    .section-text {
        h3 {
            margin-bottom: 25px;
        }
        a {
            &.btn-pro {
                color: $secondary-color;
            }
        }
        &.half {
            .col-md-6 {
                padding-left: 0;

                @media screen and (max-width: $large) {
                    padding-left: 15px;
                }
            }
        }
    }

}
.content-section {
    .text {
        padding: 50px;

        @media screen and (max-width: $small) {
            padding: 50px 30px;
        }

        &.small {
            padding: 50px 25px;

            @media screen and (max-width: $small) {
                padding: 50px 5px;
            }
        }

        &.first {
            padding: 50px 18px 50px 50px;

            @media screen and (max-width: $large) {
                padding: 50px;
            }
            @media screen and (max-width: $small) {
                padding: 50px 30px;
            }
        }

        &.last {
            padding: 50px 50px 50px 32px;

            @media screen and (max-width: $large) {
                padding: 50px;
            }
            @media screen and (max-width: $small) {
                padding: 50px 30px;
            }
        }
        p {
            &:last-of-type {
                margin-bottom: 36px;
            }
        }
    }
    .wrap-text {
        padding: 0 25px;
    }
    .bg-img {
        @include background-cover;
        transition: height .4s ease;

        @media screen and (max-width:$medium) {
            max-height: 375px;
        }

        &.responsive {
            @media screen and (max-width:$medium) {
                max-height: none;
            }
        }

        &.overlay {
            position: relative;
            overflow: hidden;

            .text {
                z-index: 3;
                position: relative;
            }

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                background: rgba(34, 34, 34, 0.6);
            }
            &.transparent {
                &:after {
                    background: rgba(34, 34, 34, 0);

                    @media screen and (max-width: $full) {
                        background: rgba(255, 255, 255, 0.85);
                    }
                }
            }
        }
        &.responsive {
            @media screen and (max-width: $medium) {
                max-height: none;
            }
            .col-md-4 {
                &:first-child {
                    .text {
                        @media screen and (max-width: $large) {
                            padding: 60px 15px 30px 15px;
                        }
                    }
                }
                &:last-child {
                    .text {
                        @media screen and (max-width: $large) {
                            padding: 30px 15px 60px 15px;
                        }
                    }
                }
            }
        }

    }
}
