#main-wrap {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background: $darkgrey-background;

    &.full-width {
        max-width: 1920px;
    }
}

.container-fluid{
	width: 100%;
    background-color: #ffffff;
    z-index: 1000;
}
.container {
    margin-right: auto !important;
	margin-left: auto !important;
	padding-top: 5em;
	padding-bottom: 5em;

    @media screen and (max-width: 1093px) {
        width: 100%;
    }
   @media screen and (min-width: $full) {
     width: 90%;
    }
    @media screen and (min-width: 1366px) {
        width: 85%;
    }
    @media screen and (min-width: 1500px) {
        width: 70%;
    }
    @media screen and (min-width: 1920px) {
        width: 1350px;
    }
}
.row {
    &.no-margin {
        margin-left: 0;
        margin-right: 0;
    }

    &.first-section {
        margin-top: 80px;

        @media screen and (max-width: $small) {
            margin-top: 60px;
        }
    }
}
#page-content {
    position: relative;
    z-index: 2;
    margin-bottom: 0px !important;
    background-color: white;
    & .coloralternate{
        max-height: 100vh;
    }
    & .coloralternate:nth-child(2n+1){
        background-color: $light-background;
    }
    &.footer-fixed {
        margin-bottom: 390px;

        @media screen and (max-width:$large) {
            margin-bottom: 0;
        }
    }
    &.header-static {
        margin-top: -80px !important;

        @media screen and (max-width: $small) {
            margin-top: -60px !important;
        }

    }
    .sliderfull{
        width:100%;
        height:30em;
        background-size:cover;
        background-position:center center;
        background-repeat:no-repeat;
    }
    .wrap-slider {
        padding: 0 50px;

        @media screen and (max-width: 1093px) {
            padding: 0;
        }

        .bg-img {
                height: calc(100vh - 183px);
                padding-left: 20px;

                @media screen and (max-width: $medium) {
                    height: calc(50vh - 92px) !important;
            }
        }

        .popup-youtube, .popup-vimeo {

            .bg-img {
                border-radius: 0;
            }
            &:hover {
                &:before {
                    background-color: transparent;
                    color: $secondary-color;
                    opacity: .5;
                    transition: all .4s ease;
                }
            }
            &:before {
                font-size: 60px;
            }
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background-color: rgba(255,255,255,0.68);
            }
        }
    }
    #home-header {
	    padding: 3em 50px 0 50px;
    }

    #projects {

        &.page {
            padding: 50px 25px;

            @media screen and (max-width: $small) {
                padding: 50px 5px;
            }
        }


        a {
            &:hover {
                color:$primary-color;
            }
        }
        .projects-items {


            .single-item {
                padding:0 25px;
                @media screen and (max-width: $large) {
                    margin-bottom: 50px;
                }
                .item {
                    background-color: white;
                    border-radius: 4px;
                    transition: all .4s ease;
                    margin: 25px 10px;

                    img {
                        max-width: 100%;
                        display: block;
                    }
                    .content {
                        padding: 25px;
                        position: relative;
                    }
                    span {
                        transition: opacity .4s ease;

                        &.categories {
                            color: $primary-color;
                            font-family: $primary-font;
                            font-size: 14px;
                            line-height: 24px;
                            letter-spacing: 0;
                            display: inline-block;
                            font-weight: 300;
                        }
                    }
                    h3 {
                        font-weight: 300;
                        font-size: 18px;
                        line-height: 22px;
                        color: $primary-color;
                        font-weight: 300;
                        margin-bottom: 8px;
                    }
                    p {
                        font-size: 14px;
                        margin-bottom: 0;
                    }
                    a {
                        &.link {
                            position: absolute;
                            top:0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                        }
                    }
                }
                &:hover {
                    .item {
                        @extend %shadow;
                        transition: all .4s ease;

                        h3 {
                            color: $secondary-color;
                            transition: color .4s ease;
                        }
                    }
                }
            }

        }
    }
    .section-text {
        h3 {
            margin-bottom: 25px;
        }
        a {
            &.btn-pro {
                color: $secondary-color;
            }
        }
        &.half {
            .col-md-6 {
                padding-left: 0;

                @media screen and (max-width: $large) {
                    padding-left: 15px;
                }
            }
        }
    }

}
#page-header {
    @include background-cover;
    position: relative;

    .bg-img {
        height: 350px;
        @include background-cover;
        position: relative;
        border-radius: 4px;
        transition: box-shadow .4s ease;
        box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.2);
        @media screen and (max-width: $small) {
            padding: 30%;
            height: auto;
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 75%;
            bottom: 0;
            border-radius: 4px 0 0 4px;
            background-color: rgba(255, 255, 255, 0.68);
            transition: right .8s ease;
        }

        &:hover {

            transition: box-shadow .4s ease;
            box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);

            &:before {
                right: 100%;
                transition: right .8s ease;
            }
        }
    }

    span {
        &.post-meta {
            display: block;
            color: $secondary-color;
            font-family: $secondary-font;
            font-size: 22px;
            line-height: 26px;
            display: inline-block;
            font-weight: 300;
            transition: color .4s ease;
        }
    }

    .text {
        padding: 75px 50px 0;
        position: relative;
        z-index: 1;

        @media screen and (max-width: $small) {
            padding: 75px 30px;
        }

        &.small {
            padding: 75px 25px;

            @media screen and (max-width: $small) {
                padding: 75px 5px;
            }
        }
    }

    &.image {
        text-align: right;

        @media screen and (max-width: $large) {
            text-align: left;
        }

        .col-md-4 {
            .text {
                @media screen and (max-width: $large) {
                    padding-bottom: 0;
                }
            }
        }
    }
}
.content-section {
    .text {
        padding: 50px;

        @media screen and (max-width: $small) {
            padding: 50px 30px;
        }

        &.small {
            padding: 50px 25px;

            @media screen and (max-width: $small) {
                padding: 50px 5px;
            }
        }

        &.first {
            padding: 50px 18px 50px 50px;

            @media screen and (max-width: $large) {
                padding: 50px;
            }
            @media screen and (max-width: $small) {
                padding: 50px 30px;
            }
        }

        &.last {
            padding: 50px 50px 50px 32px;

            @media screen and (max-width: $large) {
                padding: 50px;
            }
            @media screen and (max-width: $small) {
                padding: 50px 30px;
            }
        }
        p {
            &:last-of-type {
                margin-bottom: 36px;
            }
        }
    }
    .wrap-text {
        padding: 0 25px;
    }
    .bg-img {
        @include background-cover;
        transition: height .4s ease;

        @media screen and (max-width:$medium) {
            max-height: 375px;
        }

        &.responsive {
            @media screen and (max-width:$medium) {
                max-height: none;
            }
        }

        &.overlay {
            position: relative;
            overflow: hidden;

            .text {
                z-index: 3;
                position: relative;
            }

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                background: rgba(34, 34, 34, 0.6);
            }
            &.transparent {
                &:after {
                    background: rgba(34, 34, 34, 0);

                    @media screen and (max-width: $full) {
                        background: rgba(255, 255, 255, 0.85);
                    }
                }
            }
        }
        &.responsive {
            @media screen and (max-width: $medium) {
                max-height: none;
            }
            .col-md-4 {
                &:first-child {
                    .text {
                        @media screen and (max-width: $large) {
                            padding: 60px 15px 30px 15px;
                        }
                    }
                }
                &:last-child {
                    .text {
                        @media screen and (max-width: $large) {
                            padding: 30px 15px 60px 15px;
                        }
                    }
                }
            }
        }

    }
}
