html {
  font-size: 100%;
}
body {
    font-family: $secondary-font;
	font-size: 100%;
    color: $primary-color;
    background-color: $darkgrey-background;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}
*:before,
*:after {
	box-sizing: border-box;
}
::selection {
    background: $secondary-color;
    color: #fff;
}
@import 'elements/buttons';
@import 'elements/typography';

.popup-youtube, .popup-vimeo {
    position: relative;
    display: block;
    overflow: hidden;

    &.shadow {
        @extend %shadow-small;
    }

    &:before {

		font-size:1.75rem;
		width: 45px;
		height: 45px;
		line-height: 45px;
        content:"\f487";
        font-family:"Ionicons";
        position: absolute;
        display: block;
        color: $secondary-background;
        text-align: center;
        line-height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding-left: 5px;
        z-index: 1;
        transition: background-color .4s ease;
        border-radius: 50%;

        @media screen and (min-width:$xsmall) {
            font-size:3.75rem;
            width: 70px;
            height: 70px;
            line-height: 70px;
        }
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(255,255,255,0.68);
    }
    &:hover {
        &:before {
            color: $secondary-color;
            opacity: .5;
            transition: all .4s ease;
        }
    }

    &:focus {
        outline: none;
    }

    &.black {
        &:before {
            background-color: $dark-background;
        }
        &:hover {
            &:before {
                background-color: $secondary-background;
                transition: background-color .4s ease;
            }
        }
    }

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}
