.deco-container {
	padding-top: 0;
	
}
.deco-container2 {
	margin-top: 0;
	margin-bottom: 0px;
}

.deco-letter {
	font-size: 5vw;
	position: relative;
	z-index: 10;
	pointer-events: none;
	font-weight: bold;
	display: inline;
	white-space:nowrap;
    overflow:hidden;
}


@media screen and (min-width: $medium){
	.deco-container2 {
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		grid-template-rows: repeat(4, 1fr);
		margin-bottom: -50px;
	}
	.deco-container {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(4, 1fr);
		margin-bottom: -125px;
	}
	.deco-letter {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}


@media screen and (min-width: $medium){
	.deco-letter::before {
		content: '';
		position: absolute;
		width: 1vw;
		height: 1.5em;
		top: 50%;
		left: 50%;
		margin: -0.75em 0 0 -5px;
		transform: rotate(30deg);
		background: $lettering-color;
		z-index: -1;
	}
	
	.deco-letter:first-child {
		grid-area: 1/ 1 / 2 / auto;
	}
	
	.deco-letter:nth-child(2) {
		grid-area: 1 / 2 / 3 / auto;
	}
	
	.deco-letter:nth-child(3) {
		grid-area: 1 / 3 / 1 / auto;
	}
	
	.deco-letter:nth-child(4) {
		grid-area: 1/ 4 / 2 / auto;
	}
	
	.deco-letter:nth-child(5) {
		grid-area: 1/ 5 / 3 / auto;
	}
	
	.deco-letter:nth-child(6) {
		grid-area: 1/ 6 / 2 / auto;
	}
	.deco-letter:nth-child(7) {
		grid-area: 1/ 7 / 2 / auto;
	}
}