body {
    font-family: $secondary-font;
	font-size: 100%;
    color: $primary-color;
    background-color: $darkgrey-background;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}
*:before,
*:after {
	box-sizing: border-box;
}
::selection {
    background: $secondary-color;
    color: #fff;
}
@import 'elements/buttons';
@import 'elements/typography';

figure {
  margin: 0;
}
picture {
    &.section {
        &.right {
            img {

				position: relative;
                right: inherit;
                left: 0px;
                max-width: 100%;
                @media screen and (min-width:$large) {
					position: absolute;
					right: 50px;
					bottom: 0;
					max-width: calc(100% - 100px);
                }
            }
            &.bottom {
                img {
                    bottom: 0px;

                    @media screen and (min-width:$large) {
                        bottom: 50;
                    }
                }
            }
        }
        img {
            max-width: 500px;
        }
    }
}
img {
	vertical-align: middle;
    &.shadow {
        @extend %shadow-small;
    }
}
table {
    width: 100%;
    margin: 0 0 25px 0;
    border-collapse: collapse;
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: 1px;
    border: 1px solid $darkgrey-background;
    font-family: $paragraph-font;
    font-weight: 300;

    th {
        background: $secondary-background;
        color: #fff;
        text-align: left;
        padding: 15px;
        border: 1px solid $darkgrey-background;
        font-family: $primary-font;
    }
    td {
        padding: 15px;
        border: 1px solid $darkgrey-background;
    }
}
.popup-youtube, .popup-vimeo {
    position: relative;
    display: block;
    overflow: hidden;

    &.shadow {
        @extend %shadow-small;
    }

    &:before {

		font-size:1.75rem;
		width: 45px;
		height: 45px;
		line-height: 45px;
        content:"\f487";
        font-family:"Ionicons";
        position: absolute;
        display: block;
        color: $secondary-background;
        text-align: center;
        line-height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding-left: 5px;
        z-index: 1;
        transition: background-color .4s ease;
        border-radius: 50%;

        @media screen and (min-width:$xsmall) {
            font-size:3.75rem;
            width: 70px;
            height: 70px;
            line-height: 70px;
        }
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(255,255,255,0.68);
    }
    &:hover {
        &:before {
            color: $secondary-color;
            opacity: .5;
            transition: all .4s ease;
        }
    }

    &:focus {
        outline: none;
    }

    &.black {
        &:before {
            background-color: $dark-background;
        }
        &:hover {
            &:before {
                background-color: $secondary-background;
                transition: background-color .4s ease;
            }
        }
    }

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}
.section-image {
    min-height: 100px;
    padding: 0 50px;

    @media screen and (min-width:$large) {
        min-height: 400px;
    }
}
.border-separator {
    height: 1px;
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid rgba(117,117,117,0.05);
}
