.wrap-text {
    padding: 25px;
}
.section-image {
    min-height: 400px;
    padding: 0 50px;

    @media screen and (max-width: $large) {
        min-height: 100px;
    }
}
.border-separator {
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid rgba(117,117,117,0.5);
}
span {
    &.dropcap {
        position: relative;

        &:before {
            content: attr(data-dropcap);
            font-weight: 700;
            font-size: 120px;
            line-height: 120px;
            position: absolute;
            font-family: $primary-font;
            left: 0;
            top: -31px;
            color: $darkgrey-background;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
            z-index: -1;

            @media screen and (max-width: $small) {
                left: 12px;
            }
        }
    }
}
picture {
    &.section {
        &.right {
            img {
                position: absolute;
                right: 50px;
                bottom: 0;
                max-width: 100%;
                max-width: calc(100% - 100px);

                @media screen and (max-width: $large) {
                    position: relative;
                    right: inherit;
                    left: 0px;
                    max-width: 100%;
                }
                @media screen and (max-width: $medium) {

                }
            }
            &.bottom {
                img {
                    bottom: 50px;

                    @media screen and (max-width: $large) {
                        bottom: 0;
                    }
                }
            }
        }
        img {
            max-width: 500px;
        }
    }
}
img {
    &.shadow {
        box-shadow: 0 2px 17px 0 rgba(0,0,0,0.30);
    }
}
.box-services {
    margin-left: -25px;
    margin-right: -25px;

    .col-md-6 {
        &:last-of-type {
            .box-service {
                @media screen and (max-width: $large) {
                    margin-bottom: 0px;
                }
            }
        }
    }

    .box-service {
        background-color: white;
        padding: 25px;
        margin: 0 25px;
        transition: ease .4s all;

        @media screen and (max-width: $large) {
            margin-bottom: 50px;
        }

        &:hover {
            box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.2);
            margin-top: -5px;
            transition: ease .4s all;
        }
    }
}
.mycolors {
    overflow: hidden;
    width: 100%;
    margin-top: 5px;

    span {
        &.mycolor {
            width: 20px;
            height: 20px;
            display: block;
            float: left;
            background-color: $secondary-color;
        }
    }
}

table {
    width: 100%;
    margin: 0 0 25px 0;
    border-collapse: collapse;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    border: 1px solid $darkgrey-background !important;
    font-family: $paragraph-font;
    font-weight: 300;

    th {
        background: $color-background;
        color: white;
        text-align: left;
        padding: 15px !important;
        border: 1px solid $darkgrey-background;
        font-family: $primary-font;
    }
    td {
        padding: 15px !important;
        border: 1px solid $darkgrey-background;
    }
}
.alert {
    text-shadow: none;
    box-shadow: none;
    border-radius: 0;
    border:none;
    background-image: none;
    font-family: $primary-font;
    letter-spacing: 1px;
    font-size: 14px;

    &.alert-success {
        border: 2px solid #dff0d8;
        background-color: transparent;
        color: $primary-color;
    }
    &.alert-info {
        border: 2px solid $secondary-color;
        background-color: transparent;
        color: $primary-color;
    }
    &.alert-warning {
        border: 2px solid #fcf8e3;
        background-color: transparent;
        color: $primary-color;
    }
    &.alert-danger {
        border: 2px solid #f2dede;
        background-color: transparent;
        color: $primary-color;
    }
    .close {
        font-family: $primary-font;
        font-size: 30px;
        font-weight: 300;
        top:-4px;
        color: $primary-color;
        opacity: .8;
        &:hover {
            opacity: .2;
        }
    }
}
#skills {
    margin-left: -25px;
    margin-right: -25px;

    ul.skill-list {
        padding-left: 0;
        padding: 0 25px;

        em {
            color: $paragraph-color;
            font-family: $secondary-font;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0;
            margin-bottom: 9px;
            font-weight: 300;
            display: block;
        }
        li {
            border-bottom: 8px solid $grey-background;
            position: relative;
            color: $primary-color;
            font-size: 18px;
            line-height: 20px;
            font-family: $secondary-font;
            letter-spacing: 1px;
            list-style: none;
            margin-bottom: 25px;
            border-radius: 8px;

            span {
                &.border-color{
                    height: 8px;
                    width:0;
                    position: absolute;
                    background: $secondary-color;
                    background-color: $secondary-color;
                    bottom:-8px;
                    left:0;
                    border-radius: 8px;
                }
            }

            span {
                &.label {
                    position: absolute;
                    right: 0;
                    top: -32px;
                    padding: 3px 3px 3px 5px;
                    width: 45px;
                    text-align: right;
                    font-weight: 300;
                }
            }
        }
    }
    &.white {
        ul.skill-list {
            li {
                border-bottom: 8px solid rgba(255, 255, 255, 0.2);

                span {
                    &.border-color{
                        background-color: white;
                    }
                    &.label {
                        background-color: white;
                        color: $secondary-color;
                    }
                }
            }
        }
    }
}
.image-carousel {
    .owl-controls {
        position: absolute !important;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        img {
            transition: all .4s ease .4s;
        }

        .owl-nav {
            @include vertical-align(absolute);
            left: 0;
            right: 0;

            .owl-prev, .owl-next {
                width: 50%;
                float: left;

                &:hover {

                    span {
                        background-color: $dark-background;
                        transition: all .4s ease;
                    }
                }

                span {
                    height: 40px;
                    width: 40px;
                    background-color: $secondary-color;
                    color: white;
                    display: block;
                    border-radius: 0 4px 4px 0;
                    text-align: center;
                    transition: all .4s ease;
                }
                i {
                    font-size: 30px;
                    line-height: 40px;
                }
            }
            .owl-next {

                span {
                    float: right;
                    border-radius: 4px 0 0 4px;
                }
            }
        }
        .owl-dots {
            position: absolute !important;
            bottom: 15px;
            left: 0;
            right: 0;

            .owl-dot {
                span {
                    background-color: transparent;
                }
            }
        }
    }
    &.not-nav {
        .owl-controls {
            .owl-nav {
                display: none;
            }
        }
    }
    &.dots-outside {
        .owl-controls {
            position: relative!important;
            top: inherit;
            bottom: inherit;
            left: inherit;
            right: inherit;
            margin-top: 60px;

            .owl-dots {
                bottom: 0;
            }
        }
    }
    &.dark-dots {
        .owl-controls {
            .owl-dots {
                .owl-dot {
                    span {
                        background-color: $primary-color;

                        &.active {
                            background-color: $primary-color;
                        }
                    }
                }
            }
        }
    }
}
.simple-parallax {
    background-attachment: fixed;
}
.service-content, .statistic-content {
    padding-left: 100px;

    &.large {
        padding-left: 65px;
        z-index: 1;
        position: relative;
    }
    &.medium {
        padding-left: 50px;
        z-index: 1;
        position: relative;
    }
}
em {
    &.number {
        font-size: 80px;
        line-height: 80px;
        font-family: $primary-font;
        font-weight: 600;
        color: $paragraph-color-light;
        float: left;
        position: absolute;
        z-index: 0;
    }
}
.grid-images {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 30px;

    .padding-sm {
        padding: 30px 0 !important;
    }
    .padding-onlytop-sm {
        padding-top: 30px !important;

        @media screen and (max-width:$large) {
            padding-top: 0 !important;
        }
    }
    .image {
        @include background-cover;
        position: relative;
        height: 271px;
        opacity: 1;
        transition: opacity .4s ease;

        @media screen and (max-width:$large) {
            margin-bottom: 30px;
        }

        > .lightbox-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            &:focus {
                outline: none;
            }
        }
        &:hover {
            opacity: .8;
            transition: opacity .4s ease;
        }
    }
}
ul {
    &.timeline {
        position: relative;
        padding-top: 18px;

        @media screen and (max-width: $medium) {
            padding-top: 0;
            padding-bottom: 36px;
        }

        &:before {
            content: "";
            position: absolute;
            top:0;
            left: 50%;
            bottom: 0;
            width: 2px;
            background-color: $grey-background;
        }
        li {
            margin-bottom: 50px;
            position: relative;
            overflow: hidden;

            &:last-child {
                margin-bottom: 0px;
            }

            @media screen and (max-width: $medium) {
                display: flex;
                flex-direction: column;
            }

            &:hover {
                .timeline-badge {
                    width: 15px;
                    height: 15px;
                    box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.2);
                    border: none;
                    margin-left: -6px;
                    top: 39px;
                    transition: all .4s ease;
                }
                .title {
                    padding-left: 35px;
                    transition: all .4s ease;

                    @media screen and (max-width: $medium) {
                        padding-left: 0px;
                    }

                    h3 {
                        color: $primary-color;
                        transition: color .4s ease;
                    }
                    p {
                        color: $secondary-color !important;
                        transition: color .4s ease;
                    }
                }
            }

            .content {
                float: left;
                width: 50%;
                padding-top: 18px;
                padding-right: 50px;
                padding-left: 50px;
                text-align: right;

                @media screen and (max-width: $medium) {
                    width: 100%;
                    padding-top: 0px;
                    text-align: center;
                    order: 2;
                    background-color: #fff;
                }

                p {
                    @media screen and (max-width: $medium) {
                        margin-bottom: 0 !important;
                    }
                }
            }
            .title {
                display: inline-block;
                padding: 18px 0px 18px 50px;
                transition: all .4s ease;
                width: 50%;

                @media screen and (max-width: $medium) {
                    width: 100%;
                    padding: 0;
                    margin: 75px 0px 18px 0px;
                    order: 1;
                    text-align: center;
                    background-color: #fff;
                }

                span {
                    display: block;
                    color: $secondary-color;
                    font-size: 14px;
                    line-height: 24px;
                    font-weight: 300;
                }
            }
            .timeline-badge {
                width: 20px;
                height: 20px;
                position: absolute;
                border-radius: 50%;
                margin-left: -9px;
                left: 50%;
                top: 36px;
                background-color: $secondary-color;
                display: block;
                border: 5px solid white;
                transition: all .4s ease;
            }

            &:nth-child(odd) {
                .content {
                    float: right;
                    padding-left: 50px;
                    text-align: left;

                    @media screen and (max-width: $medium) {
                        text-align: center;
                    }

                    p {
                        @media screen and (max-width: $medium) {
                            margin-bottom: 0;
                        }
                    }
                }
                .title {
                    padding: 18px 50px 18px 0px;
                    text-align: right;
                    width: 50%;

                    @media screen and (max-width: $medium) {
                        width: 100%;
                        padding: 0;
                        margin: 75px 0px 18px 0px;
                        order: 1;
                        text-align: center;
                        background-color: #fff;
                    }

                    p {
                        &.heading {
                            margin: 0 0 0 auto;
                            transition: color .4s ease;
                        }
                    }
                }
                &:hover {
                    .title {
                        padding-right: 35px;
                        transition: all .4s ease;

                        @media screen and (max-width: $medium) {
                            padding-right: 0px;
                        }
                    }
                }
            }
        }
    }
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@import 'owl';
@import 'animations';
