$feature-image-height            : 400px; // min 150px recommended
$front-page-feature-image-height : 400px; // min 150px recommended
$base-color                      : rgba(#222,0.8);

.entry-header {
	width: 100%;
	overflow: hidden;
	position: relative;
}


.entry-image {
	position: relative;
	top: -50%; 
	left: -50%; 
	width: 200%; 
	height: 200%;
	min-height: $feature-image-height;
	overflow: hidden;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($base-color,0.3);
	}

	img {
		position: absolute; 
		top: 0; 
		left: 0; 
		right: 0; 
		bottom: 0; 
		margin: auto; 
		min-width: 50%;
		min-height: $feature-image-height; // match .entry-image min-height
	}
}