footer, .footer {
    padding: 25px 50px;
    text-align: center;
    @media screen and (min-width: $small) {
        padding: 13px;
    }
    ul.social {
        display: inline-block;
        li {
            display: inline-block;
            font-weight: 300;
            font-size: 20px;
            color: $black-94-percent;
            padding-left: 15px;
            padding-right: 15px;
            i {
                color: $black-94-percent;
                transition: ease .4s color;
                &:hover {
                    color: $secondary-color;
                    transition: ease .4s color;
                }
            }
        }
    }
}
