footer, .footer {
    background-color: $darkgrey-background;
    a:hover{
        color: $secondary-color;
    }
    display: flex;
    justify-content: center;

    .text {
        padding: 25px;
    }

}
