
.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 8.333333%);
    margin-right: -15px;
    margin-left: -15px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    grid-column: span 12;
}

.col-1 {grid-column: span 1;}
.col-2 {grid-column: span 2;}
.col-3 {grid-column: span 3;}
.col-4 {grid-column: span 4;}
.col-5 {grid-column: span 5;}
.col-6 {grid-column: span 6;}
.col-7 {grid-column: span 7;}
.col-8 {grid-column: span 8;}
.col-9 {grid-column: span 9;}
.col-10 {grid-column: span 10;}
.col-11 {grid-column: span 11;}
.col-12 {grid-column: span 12;}
@media (min-width: $small) {
    .col-sm-1 {grid-column: span 1;}
    .col-sm-2 {grid-column: span 2;}
    .col-sm-3 {grid-column: span 3;}
    .col-sm-4 {grid-column: span 4;}
    .col-sm-5 {grid-column: span 5;}
    .col-sm-6 {grid-column: span 6;}
    .col-sm-7 {grid-column: span 7;}
    .col-sm-8 {grid-column: span 8;}
    .col-sm-9 {grid-column: span 9;}
    .col-sm-10 {grid-column: span 10;}
    .col-sm-11 {grid-column: span 11;}
    .col-sm-12 {grid-column: span 12;}
    .container {max-width: 540px;}
}
@media (min-width: $medium) {
    .col-md-1 {grid-column: span 1;}
    .col-md-2 {grid-column: span 2;}
    .col-md-3 {grid-column: span 3;}
    .col-md-4 {grid-column: span 4;}
    .col-md-5 {grid-column: span 5;}
    .col-md-6 {grid-column: span 6;}
    .col-md-7 {grid-column: span 7;}
    .col-md-8 {grid-column: span 8;}
    .col-md-9 {grid-column: span 9;}
    .col-md-10 {grid-column: span 10;}
    .col-md-11 {grid-column: span 11;}
    .col-md-12 {grid-column: span 12;}
    .container {max-width: 720px;}
}
@media (min-width: $large) {
    .col-lg-1 {grid-column: span 1;}
    .col-lg-2 {grid-column: span 2;}
    .col-lg-3 {grid-column: span 3;}
    .col-lg-4 {grid-column: span 4;}
    .col-lg-5 {grid-column: span 5;}
    .col-lg-6 {grid-column: span 6;}
    .col-lg-7 {grid-column: span 7;}
    .col-lg-8 {grid-column: span 8;}
    .col-lg-9 {grid-column: span 9;}
    .col-lg-10 {grid-column: span 10;}
    .col-lg-11 {grid-column: span 11;}
    .col-lg-12 {grid-column: span 12;}
    .container {max-width: 960px;}
}
@media (min-width: $full) {
    .col-xl-1 {grid-column: span 1;}
    .col-xl-2 {grid-column: span 2;}
    .col-xl-3 {grid-column: span 3;}
    .col-xl-4 {grid-column: span 4;}
    .col-xl-5 {grid-column: span 5;}
    .col-xl-6 {grid-column: span 6;}
    .col-xl-7 {grid-column: span 7;}
    .col-xl-8 {grid-column: span 8;}
    .col-xl-9 {grid-column: span 9;}
    .col-xl-10 {grid-column: span 10;}
    .col-xl-11 {grid-column: span 11;}
    .col-xl-12 {grid-column: span 12;}
    .container {max-width: 1140px;}
}

#main-wrap {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 50px;
    background-color: #fff;
    min-height: calc(100%-100px);

    &.onepage{
        padding-bottom: 0;
    }

    &.full-width {
        max-width: 1920px;
    }
}
.fullpage-wrap {
    margin-left: -50px;
    margin-right: -50px;
    background-color: white;
}
.fullpage-md-wrap {
    @media screen and (max-width: $large) {
        margin-left: -50px !important;
        margin-right: -50px !important;
    }
}
.container {
    padding: 0;

    @media screen and (max-width: 1093px) {
        width: 100%;
    }
    @media screen and (min-width: $full) {
        width: 90%;
    }
    @media screen and (min-width: 1366px) {
        width: 85%;
    }
    @media screen and (min-width: 1500px) {
        width: 70%;
    }
    @media screen and (min-width: 1920px) {
        width: 1350px;
    }
}
.row {
    &.no-margin {
        margin-left: 0;
        margin-right: 0;
    }

    &.first-section {
        margin-top: 80px;

        @media screen and (max-width: $small) {
            margin-top: 60px;
        }
    }
}

.section-lines {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;

    span {
        border-right: 1px solid rgba(0, 0, 0, 0.05);
        width: 33.33333333%;
        height: 100%;
        float: left;
        position: relative;
    }
}
