.home-header {
    padding: 3em 50px;
}
.projects {
	padding:0px, 50px 5px;
    padding: 0px 25px 50px;
    @media screen and (min-width: $small) {
        padding: 0px 25px 50px;
    }
    a {
        &:hover {
            color:$primary-color;
        }
    }

    .single-item {
        padding:0 25px;
		margin-bottom: 50px;
        @media screen and (min-width: $large) {
            margin-bottom: 0px;
        }
        .item {
            background-color: #fff;
            border-radius: 4px;
            transition: all .4s ease;
            margin: 25px 10px;

            img {
                max-width: 100%;
                display: block;
            }
            .content {
                padding: 25px;
                position: relative;
            }
            span {
                transition: opacity .4s ease;

                &.categories {
                    color: $primary-color;
                    font-family: $primary-font;
                    font-size: 0.75rem;
                    line-height: 24px;
                    letter-spacing: 0;
                    display: inline-block;
                    font-weight: 300;
                }
            }
            h3 {
                font-weight: 300;
                font-size: 1.25rem;
                line-height: 1.5em;
                color: $primary-color;
                font-weight: 300;
                margin-bottom: .25em;
            }
            p {
				font: $primary-font;
				font-weight: 300;
                font-size: 1rem;
                margin-bottom: 0;
            }
            a {
                &.link {
                    position: absolute;
                    top:0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
            }
        }
        &:hover {
            .item {
                @extend %shadow;
                transition: all .4s ease;

                h3 {
                    color: $secondary-color;
                    transition: color .4s ease;
                }
            }
        }
    }

}
