.be-row-hsmap {
    &:hover {
        z-index: 5;
    }
}
.hsmap_center {
    text-align: center;
}
.hs-wrap.responsive {
    width: auto;
    display: inline-block;
    max-width: 100%;
    img {
        width: auto;
    }
}
.hs-wrap {
    .hs-tooltip {
        font: inherit;
        background: rgba(255, 255, 255, .85);
        text-align: left;
        p {
            font: inherit;
            color: $primary-color;
            line-height: 1.5;
        }
        h4 {
            font: inherit;
            color: $secondary-background;
            margin-top: 0;
            line-height: 1.2;
        }
    }
}
.hsmap_center {
	.hsmap_fixed_tooltip {
		display: none;
		margin-bottom: 30px;
	}
}
.hs-wrap {
	position: relative;
	* {
		display: none;
		box-sizing: content-box !important;
	}
	img {
		display: block;
	}
}
.hs-wrap.hs-loaded {
	* {
		display: block;
	}
}
.hs-wrap.responsive {
	width: 100%;
	img {
		width: 100%;
	}
}
.hs-spot-object {
	position: absolute;
	cursor: pointer;
	z-index: 1;
	.hs-spot-tooltip-outer {
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
		width: 0 !important;
		height: 0 !important;

	}
	.hs-tooltip {
		display: none;
	}
	.hs-tooltip-wrap {
		display: none;
	}
}
.hs-spot-object.visible-tooltip {
	z-index: 9999;
	.hs-spot-tooltip-outer {
		opacity: 1;
		left: 0 !important;
		top: 0 !important;
		width: 100% !important;
		height: 100% !important;
	}
	.hs-tooltip {
		display: block;
	}
	.hs-tooltip-wrap {
		display: block;
	}
}
.hs-spot.visible {
	.hs-spot-shape {
		position: absolute;
		left: -1px;
		top: -1px;
		background: $dark-background;
		border-radius: 40px;
		-moz-border-radius: 40px;
		-webkit-border-radius: 40px;
		width: 100%;
		height: 100%;
		opacity: .15;
		z-index: 0;
		border: 1px solid #fff;
		transform: scale3d(1, 1, 1);
		transition: all .25s cubic-bezier(.55, 0, .1, 1);
	}
	&:hover {
		.hs-spot-shape-inner {
			transform: scale3d(1.4, 1.4, 1.4);
		}
	}
}
.hs-rect {
	position: absolute;
	left: 0;
	top: 0;
	cursor: pointer;
	z-index: 99;
	border: 0;
}
.hs-rect.visible {
	.hs-spot-shape {
		z-index: 1;
      background-color: #aaa;
      background-image: linear-gradient(left, hsla(0,0%,100%,.2), hsla(0,0%,0%,.2));
      display: block;
      height: 2em;
      left: 50%;
      margin: -1em -.05em;
      position: absolute;
      top: 50%;
      width: .1em;
        &::after{
            background-color: $secondary-background;
            border-radius: 50%;
            content: '';
            height: 1em;
            left: -.5em;
            position: absolute;
            top: -.75em;
            width: 1em;
            }
	}
	.hs-spot-shape-inner {
		position: absolute;
		z-index: 0;
		width: 100%;
		height: 100%;
		background: 0 0;
		left: -8px;
		top: -8px;
		opacity: .15;
		transform: scale3d(1, 1, 1);
		transition: all .25s cubic-bezier(.55, 0, .1, 1);
	}
	&:hover {
        .hs-spot-shape{
            transform: scale(1.5) translateY(-0.35em);
             transition: all .25s cubic-bezier(.55, 0, .1, 1);
        }
	}
}
.hs-tooltip-wrap {
	position: absolute;
}
.hs-tooltip {
	display: block;
	background: #181818;
	color: #fff;
	font: 11px/18px $secondary-font;
	padding: 15px;
	position: relative;
	min-height: 18px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	h1 {
		font: 14px/14px $secondary-font;
		margin-bottom: 10px;
		font-weight: 700;
	}
	h2 {
		font: 12px/12px $secondary-font;
		margin-bottom: 10px;
		font-weight: 700;
	}
	h3 {
		font: 11px/11px $secondary-font;
		margin-bottom: 10px;
		font-weight: 700;
	}
	p {
		font: 11px/18px $secondary-font;
		margin-bottom: 10px;
	}
	&:last-child {
		margin-bottom: 0;
	}
	a {
		color: #fff !important;
		text-decoration: underline !important;
		&:hover {
			text-decoration: none !important;
		}
	}
}
.hs-wrap.click {
	.hs-spot-object.left {
		.hs-spot-tooltip-outer {
			position: absolute;
			top: 0;
			left: -30px;
		}
	}
	.hs-spot-object.top {
		.hs-spot-tooltip-outer {
			position: absolute;
			left: 0;
			top: -30px;
		}
	}
	.hs-spot-object.right {
		.hs-spot-tooltip-outer {
			position: absolute;
			top: 0;
			left: 30px;
		}
	}
	.hs-spot-object.bottom {
		.hs-spot-tooltip-outer {
			position: absolute;
			left: 0;
			top: 30px;
		}
	}
}
.hs-wrap.mouseover {
	.hs-spot-object.left {
		.hs-spot-tooltip-outer {
			position: absolute;
			top: 0;
			left: -30px;
		}
	}
	.hs-spot-object.top {
		.hs-spot-tooltip-outer {
			position: absolute;
			left: 0;
			top: -30px;
		}
	}
	.hs-spot-object.right {
		.hs-spot-tooltip-outer {
			position: absolute;
			top: 0;
			left: 30px;
		}
	}
	.hs-spot-object.bottom {
		.hs-spot-tooltip-outer {
			position: absolute;
			left: 0;
			top: 30px;
		}
	}
}
.hs-spot-object.left {
	.hs-tooltip-wrap {
		right: 100%;
		top: 0;
		padding-right: 16px;
	}
	.hs-tooltip {

	}
	.hs-tooltip-buffer {
		right: 100%;
		left: auto;
		width: 16px;
	}
}
.hs-spot.left {
	.hs-tooltip-wrap {
		top: -12px;
	}
	.hs-tooltip {
		&:before {
			top: 16px;
		}
	}
}
.hs-spot-object.top {
	.hs-tooltip-wrap {
		bottom: 100%;
		left: 0;
		padding-bottom: 16px;
	}
	.hs-tooltip {

	}
	.hs-tooltip-buffer {
		top: auto;
		bottom: 100%;
		height: 16px;
	}
}
.hs-spot.top {
	.hs-tooltip-wrap {
		left: -1px;
	}
}
.hs-spot-object.right {
	.hs-tooltip-wrap {
		left: 100%;
		top: 0;
		padding-left: 16px;
	}
	.hs-tooltip {

	}
	.hs-tooltip-buffer {
		left: 100%;
		width: 16px;
	}
}
.hs-spot.right {
	.hs-tooltip-wrap {
		top: -12px;
	}
	.hs-tooltip {
		&:before {
			top: 16px;
		}
	}
}
.hs-spot-object.bottom {
	.hs-tooltip-wrap {
		top: 100%;
		left: 0;
		padding-top: 16px;
	}
	.hs-tooltip {

	}
	.hs-tooltip-buffer {
		top: 100%;
		height: 16px;
	}
}
.hs-spot.bottom {
	.hs-tooltip-wrap {
		left: -1px;
	}
}
.hs-tooltip-buffer {
	background: $secondary-color;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	opacity: 0;
}
.hs-wrap.always {
	.hs-spot-tooltip-outer {
		opacity: 1;
		left: 0 !important;
		top: 0 !important;
		width: 100% !important;
		height: 100% !important;
	}
	.hs-tooltip {
		display: block;
	}
	.hs-tooltip-wrap {
		display: block;
	}
}
@media (max-width: $medium) {
	#hotspsotwrap {
		.hsmap_center {
			padding: 0;
		}
		.hs-wrap.responsive {
			max-width: 75%;
		}
		.hs-spot-tooltip-outer {
			display: none;
		}
	}
	.hsmap_center {
		.hsmap_fixed_tooltip {
			display: block;
			padding: 0 5% 30px;
		}
	}
	.hsmap_fixed_tooltip {
		.fixed_tooltip_content {
			//background: #f7f7f7;
			text-align: left;
			//padding: 5px;
			h4 {
				font-size: 1.2em;
				margin-top: 10px;
			}
		}
	}
}

@media screen and (max-width: $small) {
	.hsmap_center {
		.hs-rect {
			transform: scale(2);
		}
		.hs-spot-tooltip-outer {
			transform: scale(0.5) !important;
		}
	}
}
