.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

.hspot-icon {
	display: block;
	width: 1em;
	height: 1em;
	margin: 0 auto;
	fill: currentColor;
}
.hspot-main {
	width: auto;
	display: block;
	position: relative;
	top: 0;
	left: 0;
	bottom: 0px;
	right: 0px;
	overflow: hidden;
}

.hspotinner {
	position: relative;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.hspotcontainer {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 96vmin;
	height: 64vmin;
	margin: -40vmin 0 0 -48vmin;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;

}

.hspot {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	pointer-events: auto;
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.contentdiag {
	position: absolute;
	top: 100%;
	width: 100%;
	height: 40%;
}

.content__item {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 3em;
	text-align: center;
	background: $grey-background;
	-webkit-transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.content--open .content__item {
	-webkit-transition: none;
	transition: none;
}

.content__item--current {
	-webkit-transform: translate3d(0,-100%,0);
	transform: translate3d(0,-100%,0);
}

.content__item-title {
	font-size: 1.85em;
	margin: 0;
	padding: 0 0 0.25em 0;
	pointer-events: none;
	font-weight: normal;
	opacity: 0;
	-webkit-transform: translate3d(0,-3em,0) translate3d(0,-100%,0);
	transform: translate3d(0,-3em,0) translate3d(0,-100%,0);
}

.content__item  .content__item-title {
	color: $secondary-background;
}

.content__item--hover .content__item-title {
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.content__item--current .content__item-title {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.content__meta .hspot-icon {
	display: inline-block;
	vertical-align: middle;
}

.hspot__pins {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;

}

.hspot__pins--active {
	pointer-events: auto;
}

.pin {
	position: absolute;
	width: 5.5vmin;
	height: 8.25vmin;
	margin: -8.25vmin 0 0 -2.25vmin; /* let the bottom tip be the reference point for individual coordinates */
}

.pin__hspot-icon {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0;

}

.hspot__pins--active .pin__hspot-icon {
	opacity: 1;

}

.pin--active .hspot-icon--pin {
	stroke: #515158;
	stroke-width: 15px;
}

.hspot-icon--pin {
	width: 100%;
	height: 100%;
    fill: $secondary-background;
}

.pin--4-2 { top: 22vmin; left: 22vmin; }
.pin--4-5 { top: 40vmin; left: 70vmin; }
.pin--4-7 { top: 58vmin; left: 16vmin; }
