button {
    &.mfp-close {
        color: $secondary-color !important;
        background-color: transparent !important;
        transition: background-color .4s ease;

        &:hover {
            color: $darkgrey-background !important;
            transition: color .4s ease;
        }
    }
}

