#page-header {
    @include background-cover;
    position: relative;
    .text {
        padding: 25px;
        position: relative;
        z-index: 1;

        @media screen and (max-width: $small) {
                padding: 25px 5px;
            }
    }
}
.content-section {
    padding-top: 25px;
    .text {
        padding: 50px;

        @media screen and (max-width: $small) {
            padding: 50px 30px;
        }

        &.small {
            padding: 50px 25px;

            @media screen and (max-width: $small) {
                padding: 50px 5px;
            }
        }

        &.first {
            padding: 50px 18px 50px 50px;

            @media screen and (max-width: $large) {
                padding: 50px;
            }
            @media screen and (max-width: $small) {
                padding: 50px 30px;
            }
        }

        &.last {
            padding: 50px 50px 50px 32px;

            @media screen and (max-width: $large) {
                padding: 50px;
            }
            @media screen and (max-width: $small) {
                padding: 50px 30px;
            }
        }
        p {
            &:last-of-type {
                margin-bottom: 36px;
            }
        }
    }
    .bg-img {
        @include background-cover;
        transition: height .4s ease;

        @media screen and (max-width:$medium) {
            max-height: 375px;
        }

        &.responsive {
            @media screen and (max-width:$medium) {
                max-height: none;
            }
        }

        &.overlay {
            position: relative;
            overflow: hidden;

            .text {
                z-index: 3;
                position: relative;
            }

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                background: rgba(34, 34, 34, 0.6);
            }
            &.transparent {
                &:after {
                    background: rgba(34, 34, 34, 0);

                    @media screen and (max-width: $full) {
                        background: rgba(255, 255, 255, 0.85);
                    }
                }
            }
        }
        &.static-height {
            height: 600px;
        }
        &.responsive {
            @media screen and (max-width: $medium) {
                max-height: none;
            }
            .col-md-4 {
                &:first-child {
                    .text {
                        @media screen and (max-width: $large) {
                            padding: 60px 15px 30px 15px;
                        }
                    }
                }
                &:last-child {
                    .text {
                        @media screen and (max-width: $large) {
                            padding: 30px 15px 60px 15px;
                        }
                    }
                }
            }
        }

    }
}
