#page-header {
    @include background-cover;
    position: relative;

    .bg-img {
        height: 350px;
        @include background-cover;
        position: relative;
        border-radius: 4px;
        transition: box-shadow .4s ease;
        box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.2);
        @media screen and (max-width: $small) {
            padding: 30%;
            height: auto;
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 75%;
            bottom: 0;
            border-radius: 4px 0 0 4px;
            background-color: rgba(255, 255, 255, 0.68);
            transition: right .8s ease;
        }

        &:hover {

            transition: box-shadow .4s ease;
            box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);

            &:before {
                right: 100%;
                transition: right .8s ease;
            }
        }
    }

    span {
        &.post-meta {
            display: block;
            color: $secondary-color;
            font-family: $secondary-font;
            font-size: 22px;
            line-height: 26px;
            display: inline-block;
            font-weight: 300;
            transition: color .4s ease;
        }
    }

    .text {
        padding: 75px 50px 0;
        position: relative;
        z-index: 1;

        @media screen and (max-width: $small) {
            padding: 75px 30px;
        }

        &.small {
            padding: 75px 25px;

            @media screen and (max-width: $small) {
                padding: 75px 5px;
            }
        }
    }

    &.image {
        text-align: right;

        @media screen and (max-width: $large) {
            text-align: left;
        }

        .col-md-4 {
            .text {
                @media screen and (max-width: $large) {
                    padding-bottom: 0;
                }
            }
        }
    }

    ul {
        &.breadcrumb {

            padding: 0;
            margin-bottom: 0;
            list-style: none;
            background-color: transparent;
            border-radius: 0;

            > li + li {
                &:before {
                    color: $primary-color;
                }
            }

            li {
                font-size: 22px;
                line-height: 30px;
                font-weight: 300;
                display: inline-block;

                @media screen and (max-width: 650px) {
                    font-size: 18px;
                    line-height: 25px;
                }

                a {
                    font-size: 22px;
                    line-height: 30px;
                    color: $primary-color;

                    @media screen and (max-width: 650px) {
                        font-size: 18px;
                        line-height: 25px;
                    }
                }
            }

            &.white {
                > li + li {
                    &:before {
                        color: white;
                    }
                }

                li {
                    a {
                        color: white;

                        &:hover {
                            color: $darkgrey-background;
                        }
                    }
                }
            }
        }
    }
}
.content-section {
    .text {
        padding: 50px;

        @media screen and (max-width: $small) {
            padding: 50px 30px;
        }

        &.small {
            padding: 50px 25px;

            @media screen and (max-width: $small) {
                padding: 50px 5px;
            }
        }

        &.first {
            padding: 50px 18px 50px 50px;

            @media screen and (max-width: $large) {
                padding: 50px;
            }
            @media screen and (max-width: $small) {
                padding: 50px 30px;
            }
        }

        &.last {
            padding: 50px 50px 50px 32px;

            @media screen and (max-width: $large) {
                padding: 50px;
            }
            @media screen and (max-width: $small) {
                padding: 50px 30px;
            }
        }

        &.service-responsive-bottom {
            @media screen and (max-width:$large) {
                padding: 50px 50px 0 50px;
            }
        }
        &.service-responsive-top {
            @media screen and (max-width:$large) {
                padding: 26px 50px 14px 50px;
            }
        }
        &.responsive-padding-sm {
            @media screen and (max-width: $small) {
                padding: 25px;
            }
        }
        p {
            &:last-of-type {
                margin-bottom: 36px;
            }
        }
    }
    .wrap-text {
        padding: 0 25px;
    }
    .bg-img {
        @include background-cover;
        transition: height .4s ease;

        @media screen and (max-width:$medium) {
            max-height: 375px;
        }

        &.fullpage-wrap {
            padding: 0 50px;
        }

        &.responsive {
            @media screen and (max-width:$medium) {
                max-height: none;
            }
        }

        &.overlay {
            position: relative;
            overflow: hidden;

            .text {
                z-index: 3;
                position: relative;
            }

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                background: rgba(34, 34, 34, 0.6);
            }
            &.transparent {
                &:after {
                    background: rgba(34, 34, 34, 0);

                    @media screen and (max-width: $full) {
                        background: rgba(255, 255, 255, 0.85);
                    }
                }
            }
        }
        &.static-height {
            height: 600px;
        }
        &.responsive {
            @media screen and (max-width: $medium) {
                max-height: none;
            }
            .col-md-4 {
                &:first-child {
                    .text {
                        @media screen and (max-width: $large) {
                            padding: 60px 15px 30px 15px;
                        }
                    }
                }
                &:last-child {
                    .text {
                        @media screen and (max-width: $large) {
                            padding: 30px 15px 60px 15px;
                        }
                    }
                }
            }
        }

    }
    ul {

    }

}
.content-post {
    ul {
        list-style: disc;
        padding-left: 28px;
        font-family: $paragraph-font;
        color: $paragraph-color;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 1px;
        font-weight: 300;
        margin: 25px 0 25px 15px;
    }
}
.img-post {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 4px;
    transition: all .4s ease;

    &:hover {
        box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.2);
        transition: all .4s ease;
    }
}
.post-gallery, .project-gallery {

    .owl-item {
        transition: opacity .8s ease;

        img {
            border-radius: 4px;
        }

        &:not(.center) {
            opacity: .2;
            transition: opacity .8s ease;
        }
    }
    .owl-controls {
        top:18px;
    }
}
.project-meta {
    h4 {
        display: block;
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;

        span {
            color: $paragraph-color;
            font-weight: 300;
        }
    }
}
.project-images {
    img {
        width: 100%;
        height: auto;
        display: block;
        margin-bottom: 50px;
        opacity: 1;
        transition-duration: 300ms;

        &:hover {
            opacity: .8;
            transition-duration: 700ms;
        }
    }
    a {
        &:last-child {
            img {
                margin-bottom: 0;
            }
        }
    }
    &.grid {
        position: relative;
        overflow: hidden;

        .image {
            @include background-cover;
            padding: 50%;
            position: relative;

            span {
                &.content {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    padding: 50px;
                    transition-duration: 300ms;

                    @media screen and (min-width:$medium) and (max-width:$large) {
                        padding: 30px;
                    }
                    @media screen and (max-width:$small) {
                        padding: 30px;
                    }
                    @media screen and (max-width:360px) {
                        padding: 25px;
                    }

                    span {
                        &.title {
                            display: block;
                            font-family: $primary-font;
                            font-size: 12px;
                            line-height: 22px;
                            color: white;
                            letter-spacing: 2px;
                            text-transform: uppercase;

                            @media screen and (max-width:360px) {
                                line-height: 18px;
                            }
                        }
                    }
                    em {
                        display: block;
                        font-family: $primary-font;
                        font-weight: 400;
                        color: white;
                        font-size: 35px;

                        @media screen and (min-width:$medium) and (max-width:$large) {
                            font-size: 25px;
                        }
                        @media screen and (max-width:$small) {
                            font-size: 25px;
                        }
                    }
                }
            }
        }
    }
    .item {
        position: relative;
        height: 500px;

        .image {
            @include background-cover;
            height: 100%;
            position: relative;

        }

        .content {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            z-index: 3;
            opacity: 0;
            transition: opacity .4s ease;
            background: rgba(34, 34, 34, 0.85);

            .text {
                @include vertical-align;
                text-align: center;
                padding: 50px;
                opacity: 0;

                @media screen and (max-width:$small) {
                    padding: 25px;
                }

                h5 {
                    font-size: 38px;
                    line-height: 48px;
                    color: $paragraph-color-light;
                    transform: translate(0px, -25px);
                    transition: all .3s ease-out;
                }
                h6 {
                    color: white;
                    text-transform: uppercase;
                    position: relative;
                    letter-spacing: 0;
                    font-size: 16px;
                    line-height: 32px;
                    font-weight: 300;
                    transform: translate(0px, 25px);
                    transition: all .3s ease-out;
                }
            }
            .social {
                position: absolute;
                bottom: 36px;
                text-align: center;
                left: 0;
                right: 0;


                ul {
                    transform: translate(0px,10px);

                    li {
                        display: inline-block;

                        a {
                            background-color: $secondary-background;
                            border-radius: 50%;
                            width: 35px;
                            height: 35px;
                            line-height: 35px;
                            text-align: center;
                            color: white;
                            display: block;
                            box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
                            margin: 0 9px;
                            transition: all .4s ease;

                        }
                        &:hover {
                            a {
                                background-color: $grey-background;
                                color: $primary-color;
                                transition: all .4s ease;
                            }
                        }
                    }
                }
            }
        }
        &:hover {
            .content {
                opacity: 1;
                transition: opacity .4s ease;

                .text {
                    opacity: 1;
                    transition: opacity .4s ease;
                }
                h5, h6 {
                    transform: translate(0px, 0px);
                    transition: all .3s ease;
                }
            }
        }
    }
}
