.sidenav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	>li {
		>a {
			position: relative;
			display: block;
			padding: 10px 15px;
			text-shadow: none;
		}
	}
}
.fixed-side-navbar {
	position: fixed;
	top: 50%;
	right: 0;
	z-index: 99999;
	margin-top: -100px;
	text-align: right;
	padding: 30px 0;
	-webkit-transition: all .3s;
	transition: all .3s;
        opacity: 0;
    &:hover{
        opacity: 1;
        -webkit-backface-visibility: visible;
        -webkit-transition: opacity 200ms ease;
        -moz-transition: opacity 200ms ease;
        -ms-transition: opacity 200ms ease;
        -o-transition: opacity 200ms ease;
        transition: opacity 200ms ease;
    }
	.sidenav {
		>a.active {
			a {
				background-color: transparent;
				color: $dark-background;
				&:before {
					content: '';
					position: absolute;
					top: 50%;
					right: 17px;
					margin-top: -8px;
					width: 16px;
					height: 16px;
					background: $dark-background;
					border: 2px solid $dark-background;
					border-radius: 10px;
				}
			}
		}
		>li {
			a {
				color: $dark-background;
				min-height: 32px;
				background: transparent;
				padding: 5px 0 5px 0;
				border-right: none;
				span {
					display: none;
					-webkit-transition: all .3s;
					transition: all .3s;
				}
				&:after {
					content: '';
					position: absolute;
					top: 50%;
					right: 20px;
					margin-top: -5px;
					width: 10px;
					height: 10px;
					background: transparent;
					border: 1px solid $secondary-color;
					border-radius: 50%;
					opacity: 1;
					display: block;
					-webkit-backface-visibility: visible;
					-webkit-transition: opacity 200ms ease;
					-moz-transition: opacity 200ms ease;
					-ms-transition: opacity 200ms ease;
					-o-transition: opacity 200ms ease;
					transition: opacity 200ms ease;
				}
			}
			a.active {
				&:after {
					background: $secondary-color;
					opacity: 1;
					-webkit-transform: scale(1.2);
					transform: scale(1.2);
				}
			}
		}
	}
}
