$debug: false;

 @if ($debug) {
    img:not([alt]){
      border: 5px dashed #c00;
    }
}

/*Vars*/
$fontawesomesize: 2em;
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$paragraph-font: 'Roboto', sans-serif;
$alt-font: 'Roboto', serif;
$primary-color: #000;
$primary-color-light: #444;
$paragraph-color: #757575;
$paragraph-color-light: #F6F6F6;
$secondary-color: #527a99;
$dark-background: #000;
$light-background: #F6F6F6;
$secondary-background: #527a99; //blue
$lettering-color: #354dca;
$body-background: #EEEEEE;
$grey-background: #F6F6F6;
$darkgrey-background: #E6E7E8;
$small: 480px;
$medium: 767px;
$large: 991px;
$full: 1199px;


/*Base*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i');
@import 'reset';
@import 'mixins';
@import 'helpers';
@import 'grid';
@import 'core';
@import 'animations';

/*Parts of pages*/
@import 'bodyparts';
@import 'navigation';
@import 'pageparts';
@import 'posts';
@import 'footer';
@import 'elements';
@import 'print';

/*page-specific parts*/
@import 'diag';
@import 'hotspot';
@import 'contact';

/*Vendor/addins*/
@import 'magnificpopup';
@import 'owl';
@import 'vendor/magnific-popup';
@import 'vendor/owl.carousel';

/*Icons*/
@import 'ionicons';
@import 'fontawesome';

.fullheight{
    max-height: 90vh;
}

.coloralternate:nth-child(2n){
    background-color: $light-background;
}

ol, ul {
    display:table-row;
}


.sliderfull{
    width:100%;
    height:30em;
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
}
