@import url('https://fonts.googleapis.com/css?family=Barlow:400,400i,500,700|Merriweather|Material+Icons');

$primary-font: 'Barlow', sans-serif;
$secondary-font: 'Barlow', sans-serif;
$paragraph-font: 'Merriweather', serif;
$alt-font: 'Roboto', serif;
$primary-color: #000;
$primary-color-light: #444;
$paragraph-color: #757575;
$paragraph-color-light: #F6F6F6;
$secondary-color: #4559a8;
$dark-background: #000;
$light-background: #F6F6F6;
$secondary-background: #4559a8;
$color-background: #4559a8;
$body-background: #EEEEEE;
$grey-background: #F6F6F6;
$darkgrey-background: #E6E7E8;

$iphone4: 320px;
$iphone6: 375px;
$iphone6plus: 414px;
$ipad:1024px;
$small: 480px;
$medium: 767px;
$large: 991px;
$full: 1199px;

@import 'vendor/normalize';
@import 'mixins';
@import 'reset';
@import 'vendor/flexslider','vendor/magnific-popup';
@import 'iconfont';
@import 'grid';
@import 'general';
@import 'core';
@import 'navigation';
@import 'blog';
@import 'page';
@import 'post';
@import 'project';
@import 'contact';
@import 'footer';
@import 'elements';
