@charset "utf-8";
$primary-font: 'DIN Pro', sans-serif;
$secondary-font: 'DIN Pro', sans-serif;
$paragraph-font: 'Merriweather', serif;

$color-main: #3F43AD;
$color-main-hover: #4f66d4;
$color-steel-grey: #676F7F;
$color-coal: #25282A;
$color-nickel: #646566;
$color-moon: #97999B;
$color-silver: #D0D0CE;
$color-smoke: #F6F6F6;
$color-white: #FFFFFF;


/*-------------------------------------------------*/
/* =  Breakpoints
/*-------------------------------------------------*/

$small: 576px;
$medium: 768px;
$large: 992px;
$full: 1200px;

/*-------------------------------------------------*/
/* =  Imports
/*-------------------------------------------------*/
@import 'vendor/normalize';
@import 'mixins';
@import 'reset';
@import 'fonts/iconfont', 'fonts/din', 'fonts/merriweather';
@import 'vendor/lightgallery', 'vendor/owlslider';
@import 'grid';
@import 'general';
@import 'core';
@import 'navigation';
@import 'blog';
@import 'page';
@import 'post';
@import 'project';
@import 'contact';
@import 'footer';
@import 'elements';
@import 'comparison';
@import 'hotspot';
@import 'owl';
@import 'animations';
