.paginator{
	col-xs-6{

	}
}
footer, .footer {
    background-color: $darkgrey-background;
    a:hover{
        color: $secondary-color;
    }
    display: flex;
    justify-content: center;

    .text {
        padding: 25px;
		span{
			padding-left: 0.5rem;
			padding-right: 0.5rem;
		}
    }

}
