#hotspotwrap {
  .be-row-hsmap:hover {
    z-index: 5;
  }
}

.hsmap_center{
	box-sizing: border-box;
    max-width: 100%;
    text-align: center;
	.hsmap_fixed_tooltip {
	  display: none;
	  margin-bottom: 30px;
	}
}

.hs-wrap {
  position: relative;
  * {
    display: none;
    box-sizing: content-box !important;
  }
  img, &.hs-loaded * {
    display: block;
  }
  &.responsive {
    width: 100%;
    img {
      width: 100%;
    }
  }
	display: inline-block;
	max-width: 100%;
	.hs-tooltip {
	  background: rgba(255, 255, 255, 0.85);
	  text-align: left;
	  h6 {
		color: $secondary-background;
	  }
		p {
		color: $dark-background;
	  }
	}
}

.hs-spot-object {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  &.visible-tooltip {
    z-index: 9999;
  }
}

.hs-spot.visible {
  .hs-spot-shape {
    position: absolute;
    left: 50%;
    top: 50%;
    background: $primary-color;
    width: 0px;
    height: 0px;
    opacity: 0;
  }
  .hs-spot-shape-inner {
    background: #da0606;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0px;
    height: 0px;
    z-index: 1;
  }
}

.hs-rect {
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  z-index: 99;
  border: 0;
  &.visible {
	.hs-spot-shape {
		z-index: 1;
      display: block;
      width: 0px;
        height: 0px;
      position: absolute;
        &::before{
            @extend %pin-icon;
            }
	}
	.hs-spot-shape-inner {
		position: absolute;
		z-index: 0;
		width: 0px;
		height: 0px;
		background: 0 0;
		opacity: 0;
	}
	  &:hover {
        .hs-spot-shape::before{
            transform: scale(1.5);
             transition: all .25s cubic-bezier(.55, 0, .1, 1);
        }
	}
  }
}

.hs-spot-object .hs-spot-tooltip-outer {
  position: absolute;
  left: 0;
  top: 0;
}

.hs-tooltip-wrap {
  position: absolute;
}

.hs-tooltip {
  display: block;
  background: #181818;
  padding: 15px;
  position: relative;
  min-height: 18px;
}

.hs-wrap {
  &.click .hs-spot-object.left .hs-spot-tooltip-outer, &.mouseover .hs-spot-object.left .hs-spot-tooltip-outer {
    position: absolute;
    top: 0;
    left: -30px;
  }
}

.hs-spot-object.left .hs-tooltip-wrap {
  right: 100%;
  top: 0;
  padding-right: 16px;
}

.hs-spot.left .hs-tooltip-wrap {
  top: -12px;
}

.hs-spot.left .hs-tooltip:before {
  top: 16px;
}

.hs-wrap {
  &.click .hs-spot-object.top .hs-spot-tooltip-outer, &.mouseover .hs-spot-object.top .hs-spot-tooltip-outer {
    position: absolute;
    left: 0;
    top: -30px;
  }
}

.hs-spot-object.top .hs-tooltip-wrap {
  bottom: 100%;
  left: 0;
  padding-bottom: 16px;
}

.hs-spot.top .hs-tooltip-wrap {
  left: -1px;
}



.hs-wrap {
  &.click .hs-spot-object.right .hs-spot-tooltip-outer, &.mouseover .hs-spot-object.right .hs-spot-tooltip-outer {
    position: absolute;
    top: 0;
    left: 30px;
  }
}

.hs-spot-object.right .hs-tooltip-wrap {
  left: 100%;
  top: 0;
  padding-left: 16px;
}

.hs-spot.right .hs-tooltip-wrap {
  top: -12px;
}

.hs-spot.right .hs-tooltip:before {
  top: 16px;
}

.hs-wrap {
  &.click .hs-spot-object.bottom .hs-spot-tooltip-outer, &.mouseover .hs-spot-object.bottom .hs-spot-tooltip-outer {
    position: absolute;
    left: 0;
    top: 30px;
  }
}

.hs-spot-object.bottom .hs-tooltip-wrap {
  top: 100%;
  left: 0;
  padding-top: 16px;
}

.hs-spot.bottom .hs-tooltip-wrap {
  left: -1px;
}


.hs-tooltip-buffer {
  background: #00f;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  -ms-filter: "alpha(Opacity=0)";
  filter: alpha(opacity = 0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

.hs-spot-object {
  &.bottom .hs-tooltip-buffer {
    top: 100%;
    height: 16px;
  }
  &.top .hs-tooltip-buffer {
    top: auto;
    bottom: 100%;
    height: 16px;
  }
  &.left .hs-tooltip-buffer {
    right: 100%;
    left: auto;
    width: 16px;
  }
  &.right .hs-tooltip-buffer {
    left: 100%;
    width: 16px;
  }
}

.hs-tooltip {

  &:last-child {
    margin-bottom: 0;
  }
}

.hs-wrap.always {
  .hs-spot-tooltip-outer {
    -ms-filter: "alpha(Opacity=100)";
    filter: alpha(opacity = 100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
  }
  .hs-tooltip, .hs-tooltip-wrap {
    display: block;
  }
}

.hs-spot-object {
  .hs-spot-tooltip-outer {
    opacity: 0;
    width: 0 !important;
    height: 0 !important;
  }
  .hs-tooltip, .hs-tooltip-wrap {
    display: none;
  }
  &.visible-tooltip {
    .hs-spot-tooltip-outer {
      opacity: 1;
      left: 0 !important;
      top: 0 !important;
      width: 100% !important;
      height: 100% !important;
    }
    .hs-tooltip, .hs-tooltip-wrap {
      display: block;
    }
  }
}


@media screen and (max-width:$medium) {
  #hotspotwrap {
    .hsmap_center {
      padding: 0;
    }
    .hs-wrap.responsive {
      max-width: 75%;
    }
    .hs-spot-tooltip-outer {
      display: none;
    }
  }
  .hsmap_center .hsmap_fixed_tooltip {
    display: block;
  }
  .hsmap_fixed_tooltip .fixed_tooltip_content {
    text-align: left;
  }
}
