$navbreakpoint: $large;

header {
    position: relative;
    z-index: 3;
    padding: 0px;
    background-color: #fff;

    &.border {
        border-bottom: 1px solid rgba(117,117,117,0.05);
        box-shadow: 0 0 28px 0 rgba(0, 0, 0, 0.05);
    }
}
.navbar {
    height: 50px;
    box-shadow: none;
    border-radius: 0;
    background-image: none;
    background-color: none;
    border: none;
    margin-bottom: 0;
	a {
		&.navbar-brand {
			float: left;
			height: 50px;
			.svg-brand {
				fill: $primary-color;
				height: 40px;
				top: 5px;
				left: 30px;
				position: absolute;
			}
		}
	}
}
#sidemenu {
        position: relative;
        float: right;
        margin: 12px 0;
        width: 80%;
        width: auto;

        @media screen and (min-width:$navbreakpoint) {
            width: calc(100% - 150px);
        }
        .menu-holder {
			display: none;

            @media screen and (min-width:$navbreakpoint) {
				display: block;
				text-align: right;
				float: right;
				padding-right: 25px;
            }

            ul {

                > li {
                    &:last-of-type {
                        &.submenu {
                            ul {
                                &.sub-menu {
                                    left: inherit;
                                    right: -18px;
                                }
                            }
                        }
                    }
                }

                li {
                    display: inline-block;

                    a {
                        margin-left: 30px;
                        font-size: 1rem;
                        line-height: 26px;
                        font-family: $paragraph-font;
                        font-weight: 400;
                        color: $primary-color;
                        padding: 10px 0;

                        @media screen and (min-width:$navbreakpoint){
                            margin-left: 24px;
                        }

                        &:hover {
                            color: $secondary-color !important;
                        }

                        &.active, &.active-item {
                            color: $secondary-color;
                        }
                    }

                    &.submenu {
                        position:relative;

                        > a  {
                            padding: 33px 0;
                        }

                        ul {
                            &.sub-menu {
                                display: block;
                                visibility: hidden;
                                z-index: 90;
                                position: absolute;
                                top: 88px;
                                opacity: 0;
                                left: -10px;
                                min-width: 220px;
                                width: auto;
                                text-align: left;
                                padding: 16px 6px;
                                transition: all .4s ease;

                                @media screen and (min-width:$navbreakpoint) {
                                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                                    border-radius: 4px;
									background-color: $light-background;
                                }

                                li {
                                    display: block;
                                    text-align: left;
                                    margin: 10px 0;

                                    &:first-child {
                                        margin: 0 0 5px 0;
                                    }
                                    &:last-child {
                                        margin: 5px 0 0 0;
                                    }

                                    a {
                                        color: #fff;
                                        margin-left: 0;
                                        font-size: 0.75rem;
                                        line-height: 30px;
                                        font-weight: 400;
                                        text-transform: none;
                                        font-family: $paragraph-font;
                                        transition: padding-left .4s ease;

                                        &:hover {
                                            color: $secondary-color !important;

                                        }
                                    }
                                }

                            }
                        }
                        &:hover {
                            ul {
                                &.sub-menu {
                                    visibility: visible;
                                    top: 46px;
                                    opacity: 1;
                                    transition: all .4s ease;
                                }
                            }
                        }

                    }
                }
            }
            button {
                &.close-menu {
                    display: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    font-size:6.25rem;
                    font-weight: 100;
                    color: $secondary-color;
                    width: 50px;
                    height: 120px;
                }
            }
        }
        &.open {
			display: block;
			position: fixed;
			left:0;
			top:0;
			background-color: $primary-color;
			width:100%;
			height:100%;
			z-index:998;
			visibility: visible;
			opacity:1;
			margin: 0;
			overflow-y: auto;
			.menu-holder {
				padding: 120px 100px 50px 100px;
				width:100%;
				text-align: center;
				display: block;
				ul {
					li {
						display: block;
						padding: 6px 0;
						a {
							color: $primary-color;
							padding: 0;
							font-size: 2rem;
							line-height: 2.15rem;
							&:hover {
								color: $secondary-color;
							}
						}
						&.submenu {
							display: block;
							>a {
								padding: 0;
							}
							ul {
								&.sub-menu {
									position: relative;
									background-color: none;
									top: 0;
									left: inherit;
									right: inherit;
									text-align: center;
									max-height: 0;
									transition: max-height .8s ease;
									visibility: hidden;
									display: block;
									padding: 0;
									border: none;
									li {
										display: inline-block;
										margin: 0 16px;
										text-align: center;
										opacity: 0;
										transition: opacity .4s ease;
										a {
											color: $secondary-color;
											font-size: 0.75rem;
											line-height: 22px;
											text-transform: uppercase;
											font-family: $primary-font;
										}
									}
								}
							}
						}
						a {
							&:focus {
								text-decoration: none;
								outline: none;
							}
						}
						&:hover {
							ul {
								&.sub-menu {
									max-height:800px;
									transition: max-height .8s ease;
									visibility: visible;

									li {
										opacity: 1;
										transition: opacity .4s ease;
									}
								}
							}
						}
					}
					a {
						font-size: 1.25rem;
						line-height: 30px;
						font-family: $secondary-font;
						color:#fff;
						margin-left: 0;
					}
				}
				button {
					&.close-menu {
						display: block;
					}
				}
			}
        }
        &.sidemenu {
			    display: block;
                position: fixed;
                width:320px;
                right:-320px;
                top:0;
                left: inherit;
                background-color: $primary-color;
                height:100%;
                z-index:998;
                .menu-holder {
                    padding: 0px 50px;
                    width:100%;
                    text-align: right;
                    position: absolute;
                    top: 50px;
                    height: 60%;
                    height: calc(100% - 50px);
                    overflow-y: auto;
                    ul {
                        li {
                            margin: 15px 0;
                            a {
                                color: #fff;
                                font-size: 1.25rem;
                                line-height: 30px;
                            }
                            &:hover {
                                a {
                                    color: $grey-background;
                                }
                            }
                            &.submenu {
                                ul {
                                    &.sub-menu {
                                        text-align: right;
                                        li {
                                            margin: 0 0 0 16px;

                                            a {
                                                color: $grey-background;
                                                &:hover {
                                                    color: $secondary-color !important;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            @media screen and (min-width:$navbreakpoint) {
				display: none;
            }
            &.open {
                    overflow-y: visible;
                    right: 0;
            }
        }
    }
#menu-responsive-sidemenu{
        float: right;
        display: block;
        padding-right: 1.25rem;


        @media screen and (min-width:$navbreakpoint) {
            display: none;
        }


        .menu-button {
            float: right;
            display: block;
            width: 30px;
            height:20px;
            cursor: pointer;
			margin: 15px 0;

            .bar {
                background-color: $primary-color;
                height: 2px;
                width:30px;
                display: block;
                right: 0;
                margin:5px 0;
            }
            .bar-1 {
                transition: margin .4s ease;
            }
            .bar-2 {
                transition: all .4s ease;
                width: 24px !important;
                margin-left: 3px !important;
            }
            .bar-3 {
                transition: margin .4s ease;
            }

            &:hover {
                .bar-2 {
                    width: 30px !important;
                    margin-left: 0 !important;
                    transition: all .4s ease;
                }
            }
        }
        &.open {
			.menu-button {
				position: relative;
				z-index: 998;
				.bar {
					background-color: $grey-background;
				}
				.bar-1{
					margin-top:10px;
					-webkit-transform: rotate3d(0,0,1,-45deg);
					transform: rotate3d(0,0,1,-45deg);
					transition: margin .15s ease-out,opacity .15s ease-out,transform .15s ease-out .25s;
				}
				.bar-2{
					opacity:0;
				}
				.bar.bar-3{
					margin-top:-14px;
					-webkit-transform: rotate3d(0,0,1,45deg);
					transform: rotate3d(0,0,1,45deg);
					transition: margin .15s ease-out,opacity .15s ease-out,transform .15s ease-out .25s;
				}
			}
            @media screen and (min-width:$navbreakpoint) {
				display: none;

            }
        }
    }
