//colors
.secondary-background {
    background-color: $secondary-background;
}
.white {
    color: #fff !important;
}
.color {
    color: $secondary-color !important;
}
.grey-light{
    color: $paragraph-color-light !important;
}
.grey-dark{
    color: $primary-color-light !important;
}

//padding
.padding-lg{
    padding:75px 0 !important;
}
.padding-md{
    padding:50px 0 !important;
}

.padding-sm{
    padding:25px 0 !important;
}
.padding-onlytop-sm {
    padding-top:25px !important;
}
.padding-null {
    padding: 0 !important;
}
.padding-topbottom-null {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.padding-leftright-null {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

//margin
.margin-bottom {
    margin-bottom: 36px !important;
}

.margin-bottom-small {
    margin-bottom: 18px !important;
}
.margin-bottom-extrasmall {
    margin-bottom: 9px !important;
}
.margin-null {
    margin: 0 !important;
}

//other shortcodes
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.not-visible {
    visibility: hidden;
    max-height:0;
}
.visible {
    visibility: visible;
    max-height:auto;
}
.no-scroll {
    overflow: hidden;
}

.center{
    display: flex;
    justify-content: center;
	margin: 0 auto;
}

.hidden{
	display: none;
}
.shadow {
	@extend %shadow;
}
