[role="button"] {
  cursor: pointer;
}
button {
    background: none;
    border:none;
    outline: inherit;
}
a.btn {
    padding:0;
    padding-right: 1.75rem;
    padding-left: 1.75rem;
    height: 2.5rem;
    line-height: 2rem;
    text-align: center;
    font-size: 0.75rem;
    letter-spacing: 1px;
    font-family: $secondary-font;
    text-transform: uppercase;
    display: inline-block;
    overflow: hidden;
    outline: none;
    border-radius: 2px;
    font-weight: bold;
    position: relative;
    margin:0.75rem;
    text-decoration: none !important;
    transition: all .4s ease;
    font-weight: 400;
    border:1px solid $dark-background;
    background-color: #fff;
    color: $dark-background;
    &:hover{
        background-color: $secondary-color;
        color: #fff;
        border-color:transparent;
        transition: all .4s ease;
    }
    &.disabled {
        text-shadow: none;
        pointer-events: none;
        cursor: not-allowed;
        &:hover,
        &:focus {
            color: $light-background;
            text-decoration: none;
        }
    }

    &.no-margin-bottom {
        margin-bottom: 0;
    }
    i {
        margin-right: 8px;
    }
}
a.btn-alt {
		border:none;
		background-color: $secondary-color;
		color: #fff;
		&:hover{
			background-color: $dark-background;
        	color: #fff;
        	border-color:transparent;
        	transition: all .4s ease;
    	}
	}
