---
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body >
      {% include header.html %}
     <main>
        {{ content }}
	</main>
      <footer class="footer" role="contentinfo">
			<div class="text">
				{% if site.author.facebook %}
					<a href="https://facebook.com/{{ site.author.facebook }}"><span class="icon-facebook-square" aria-hidden="true"></span> </a>
				{% endif %}
				{% if site.author.github %}
					<a href="http://github.com/{{ site.author.github }}"><span class="icon-github-square" aria-hidden="true"></span> </a>
				{% endif %}
				{% if site.author.linkedin %}
					<a href="http://linkedin.com/in/{{ site.author.linkedin }}"><span class="icon-linkedin-square" aria-hidden="true"></span> </a>
				{% endif %}
				{% if site.author.tumblr %}
					<a href="http://{{ site.author.tumblr }}"><span class="icon-tumblr-square" aria-hidden="true"></span> </a>
				{% endif %}
					<a href="https://www.behance.net/mickeledwa21e9"><span class="icon-behance-square" aria-hidden="true"></span> </a>
			</div>
		</footer>
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
		<script src="{{ "assets/js/grid-layout-polyfill.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "assets/js/owl.carousel.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "assets/js/lightgallery.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "assets/js/rellax.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "assets/js/turntable.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "assets/js/hotspot-map.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "assets/js/main.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "assets/js/diagram.js" | prepend: site.baseurl }}"></script>
	  <script src="{{ "assets/js/comparisonslider.js" | prepend: site.baseurl }}"></script>
	</body>
</html>
