---
layout: default
---
<div id="page-content">
    <div class="container project-container">
       <div class="row no-margin">
           <div class="col-xs-12 padding-leftright-null">
               <div id="page-header">
                   <div class="text">
                       <h1 class="margin-bottom-small">{{page.title}}<span class="color">.</span></h1>
                   </div>
               </div>
           </div>
        </div>
        <div class="row no-margin wrap-text">
            <div class="col-xs-12 col-md-4 padding-leftright-null">
                <div class="text small padding-topbottom-null">
                    {%if page.type%}
                    <h3 class="heading margin-bottom-extrasmall">Type<span class="color">.</span></h3>
                    <h4 class="heading left margin-bottom">{{page.type}}</h4>
                    {%endif%}
                    {%if page.client%}
                    <h3 class="heading margin-bottom-extrasmall">Client<span class="color">.</span></h3>
                    <h4 class="heading left margin-bottom">{{page.client}}</h4>
                    {%endif%}
                    {%if page.year%}
                    <h3 class="heading margin-bottom-extrasmall">Year<span class="color">.</span></h3>
                    <h4 class="heading left">{{page.year}}</h4>
                    {%endif%}
                </div>
            </div>
            {%if page.description%}
            <div class="col-xs-12 col-md-8 padding-leftright-null">
                <div class="text small padding-topbottom-null">
                    <p class="heading left full">{{page.description}}</p>
                    {%if page.descriptionlink%}<a href="{{page.descriptionlink}}" class="btn-pro">See the project</a>{%endif%}
                </div>
            </div>
            {%endif%}
        </div>
        {%if page.fullwidth%}
        <div class="full-width-container" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{page.fullwidth}});">
                <div class="inner-img-wrap">
                    <img class="inner-img" src="{{page.fullwidthinner}}"/>
                </div>
        </div>
        {%endif%}
        <div class="content-section project_wrapper row" id="lightboxinit">
            {{ content }}
        </div>
    </div>
</div>
