.row404 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin: 0;
	padding: 0;
}

.half404{
	@include background-cover;
	position: relative;
    width: 100%;
    min-height: 1px;
    grid-column: span 2;
	height: calc(50vh - 92px);
	@media screen and (min-width:$medium) {
		grid-column: span 1;
		height: calc(100vh - 183px);
	}
	.text {
        padding: 50px 30px;

        @media screen and (min-width:$xsmall) {
            padding: 50px;
        }

        p {
			font-size: 1.5rem;
        	line-height: 1.75rem;
            &:last-of-type {
                margin-bottom: 36px;
            }
        }
    }
}
