@font-face {
  font-family: 'iconfont';
  src:  url('/assets/fonts/iconfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
   font-size:inherit;
}
.iconfont{
    font-family: "iconfont" !important;
    font-style: normal;
    font-weight: normal;
    speak: none;
}
.icon-O:before {
  content: "\4f";
}
.icon-U:before {
  content: "\55";
}
.icon-Y:before {
  content: "\59";
}
.icon-arrow-left:before {
  content: "\e066";
}
.icon-arrow-right:before {
  content: "\e068";
}
.icon-cd-arrows:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-linked:before {
  content: "\f0f1";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-tumblr:before {
  content: "\f173";
}
.icon-behance:before {
  content: "\f1b4";
}
.icon-github:before {
  content: "\f1d3";
}
.icon-play-outline:before {
  content: "\f487";
}
